
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [200, 0, 0, 0, 250, 0, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0, 0, 100, 0, 105, 0, 12, 23, 26, 26, 35, 0, 18, 9, 5, 12, 11, 14, 0, 0, 7, 7, 3, 1],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [44.25264270613107, 43.21957112654786, 42.186499546964654, 41.15342796738145, 40.12035638779824, 39.08728480821503, 38.05421322863182, 37.021141649048616, 35.98807006946541, 34.9549984898822, 33.921926910299, 32.88885533071579, 31.855783751132584, 30.822712171549377, 29.78964059196617, 28.75656901238296, 27.723497432799753, 26.690425853216546, 25.657354273633338, 24.62428269405013, 23.591211114466926, 22.55813953488372, 21.52506795530051, 20.491996375717303, 19.458924796134095, 18.425853216550887, 17.39278163696768, 16.359710057384476, 15.326638477801268, 14.29356689821806, 13.260495318634852, 12.227423739051645, 11.194352159468437, 10.16128057988523, 9.128209000302022, 8.095137420718814, 7.062065841135606, 6.028994261552398, 4.995922681969191, 3.962851102385983, 2.9297795228027823, 1.8967079432195746, 0.8636363636363669],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.1705414091823516, 0.6251167580237487, 0.10038545028725165, 0.6068011435106396, 1.8025653866309015, 0.8875736623664123, 0.9325945601487856, 1.100086264095538, 1.8816758934456508, 0.603103410195245, 0.099846326884788, 0.09984632559448037, 0.10039566236686981, 0.09973108852420887, 0.09966207617423684, 0.5989905984934549, 1.7875384234370202, 0.5954825542190256, 0.09994875092010447, 0.09997051655064904, 0.5957142945626162, 1.8201449056134043, 1.2514834117800009, 1.8532026333069958, 1.2883359165072419, 2.588961717373349, 3.2883356914617914, 3.3244737801358366, 3.288335916532141, 2.5892085370092985, 1.3249674193799585, 2.589208537037074, 3.2883361415747143, 3.32472037467366, 3.3247201496310868, 3.2880893219665417, 2.552577259259605, 0.5892085370115409, 0.5892083301249109, 2.552350255201432, 3.254292114000449, 2.629927157183079, 1.1001276510876035],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [44.252658839459066, 43.219571870119665, 42.18648490078028, 41.15339793144089, 40.12031096210151, 39.08722399276214, 38.05413702342273, 37.02105005408335, 35.98796308474397, 34.954876115404566, 33.921789146065194, 32.88870217672581, 31.855615207386396, 30.822528238047028, 29.789441268707634, 28.756354299368247, 27.72326733002886, 26.690180360689478, 25.657093391350088, 24.62400642201069, 23.590919452671322, 22.557832483331932, 21.524745513992528, 20.491658544653177, 19.45857157531378, 18.425484605974386, 17.39239763663501, 16.359310667295624, 15.32622369795622, 14.293136728616851, 13.260049759277429, 12.226962789938074, 11.193875820598624, 10.160788851259301, 9.127701881919927, 8.09461491258053, 7.061527943241131, 6.028440973901757, 4.995354004562364, 3.962267035222973, 2.9291800658835743, 1.8960930965441873, 0.8630061272048222],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [44.25250438582253, 43.21942965475864, 42.18635492369476, 41.153280192630874, 40.12020546156698, 39.087130730503105, 38.05405599943922, 37.020981268375344, 35.987906537311446, 34.95483180624757, 33.92175707518366, 32.888682344119765, 31.85560761305592, 30.82253288199202, 29.78945815092813, 28.756383419864253, 27.723308688800333, 26.690233957736467, 25.657159226672604, 24.624084495608695, 23.59100976454481, 22.557935033480938, 21.52486030241702, 20.49178557135314, 19.458710840289278, 18.42563610922537, 17.39256137816152, 16.35948664709759, 15.326411916033685, 14.293337184969857, 13.260262453905955, 12.22718772284207, 11.19411299177817, 10.161038260714275, 9.127963529650405, 8.094888798586535, 7.061814067522619, 6.028739336458762, 4.9956646053948806, 3.9625898743309738, 2.9295151432669857, 1.896440412203178, 0.8633656811392418],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [44.250772918346364, 43.217740381607705, 42.18470784486904, 41.15167530813037, 40.118642771391706, 39.085610234653046, 38.05257769791438, 37.019545161175714, 35.986512624437054, 34.95348008769839, 33.92044755095972, 32.88741501422106, 31.854382477482396, 30.82134994074373, 29.78831740400507, 28.755284867266404, 27.722252330527738, 26.68921979378907, 25.656187257050412, 24.623154720311746, 23.59012218357308, 22.557089646834417, 21.524057110095754, 20.491024573357087, 19.457992036618425, 18.424959499879762, 17.3919269631411, 16.35889442640243, 15.325861889663766, 14.292829352925107, 13.259796816186443, 12.226764279447773, 11.193731742709105, 10.160699205970445, 9.127666669231784, 8.09463413249311, 7.061601595754446, 6.028569059015794, 4.995536522277128, 3.9625039855384614, 2.929471448799795, 1.8964389120611287, 0.8634063753224659],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [191.1039244651777, 63.59737341395237, 63.59737239539621, 63.59737293743097, 63.22266237947539, 12.107524512049542, 12.095487929931071, 5.201772360524991, 5.201772357545473, 5.201772357314168, 5.201772712439531, 6.493561660823155, 13.950814628847839, 15.592441921604722, 16.79690993773785, 17.666468216518275, 18.251196204570448, 18.61045058474499, 18.79961371786891, 18.86477830448147, 18.841906865062207, 18.75795493279206, 18.632600772788003, 18.47995149555971, 18.309988405091055, 18.129702373384383, 17.9439477701862, 17.75606758884755, 17.568343108109353, 17.382313568625477, 17.199001634153852, 17.01907153350443, 16.842939560064416, 16.67085107340889, 16.502934053164367, 16.339236290393885, 16.179751184940567, 16.024435620045395, 15.873222333456393, 15.726028468140246, 15.582761472206508, 15.443323160198949, 15.307612499412866],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [237.54743210767165, 20.288471193882934, 20.28847119388291, 20.28847119388291, 219.27924573198783, 8.064803085764176, 8.054031172483597, 8.054031172483533, 8.05403117248315, 8.054031172480933, 8.054031172470879, 8.054031172455836, 8.054031173512229, 8.055342770753526, 9.645090272548998, 14.801708633383548, 16.47983038080106, 16.786973159479377, 16.838682078493534, 16.847274648848398, 16.848699442991855, 16.84893561451603, 16.848974759623594, 16.848981247808698, 16.84898232320435, 16.84898250144762, 16.84898253099089, 16.848982535887593, 16.848982536699204, 16.848982536833702, 16.84898253685601, 16.848982536859705, 16.848982536860312, 16.848982536860404, 16.848982536860404, 16.848982536860454, 16.848982536860454, 16.848982536860454, 16.848982536860454, 16.848982536860454, 16.848982536860476, 16.848982536860476, 16.848982536860476],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [22.76350291410997, 22.76348510482085, 22.74859208483256, 22.400070608204693, 21.257043155586757, 19.90407619630139, 18.891201181141984, 18.26162944579604, 17.904410578944834, 17.717627433738887, 17.632452401865287, 17.60597552389248, 17.612144808028663, 17.63534233283188, 17.666309547002424, 17.699641244815083, 17.732258649076794, 17.76248182286548, 17.78946672466217, 17.8128637288756, 17.832610643801853, 17.848807471827868, 17.86164090375098, 17.871339104420827, 17.878144958818105, 17.882300564811786, 17.884038565020262, 17.88357761984919, 17.881120368067034, 17.87685286079717, 17.870944847392916, 17.863550533177644, 17.85480957786592, 17.84484819530253, 17.833780271821315, 17.821708455463046, 17.808725189774552, 17.794913679050005, 17.78034877983348, 17.765097818242438, 17.749221335415978, 17.732773764900095, 17.715804046529094],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [117.03600122372116, 84.65447873899633, 84.65447917427477, 84.654479426148, 205.01351088004594, 14.300371969990428, 14.29999667404635, 14.299313320109126, 14.297304229342684, 14.28903239977333, 14.25426206532158, 14.147215902176313, 13.955735196844927, 13.99987517740843, 17.893076073149906, 37.792204498467804, 54.38004216102133, 31.710567082235485, 14.482883556591723, 13.064394989195325, 12.967761817290643, 12.893989992967022, 12.817989253689152, 12.737513095623806, 12.650512965748018, 12.555162297794114, 12.449862691808402, 12.333158384326977, 12.203669234879563, 12.060064750962168, 11.901074016783761, 11.725523540140015, 11.532396746000426, 11.32090976441895, 11.090597847738934, 10.84140601961088, 10.573777536287565, 10.288735623408659, 9.98795878760168, 9.673858429331771, 9.349679471665944, 9.019659393672264, 8.689296586932569],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [193.6104334037901, 65.81692596908051, 65.75020067457852, 65.75020066864441, 65.75020066568618, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 0.8379982219979869, 9.611017289223572, 36.230919847712, 34.366079283759625, 33.79127490642774, 33.25732060152582, 32.648286588737015, 31.94403063757374, 31.130679888787643, 30.194069159631848, 29.119713175029354, 27.893597936139166, 26.503470967558187, 24.940713572012022, 23.2028575715008, 21.296675153181717, 19.241514209894895, 17.072173414756282, 14.840199759344408, 12.612276436515348, 10.464691227360756, 8.473978673843973, 6.705511988283225, 5.203256138647888, 3.9840237978725357, 3.037997691299849, 2.3347937810689094, 1.832407422046881, 1.4859751596383042],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [89.04477634435392, 89.04477634435392, 89.04477634435392, 89.04477634435392, 89.04477634435392, 10.104083401840228, 9.988081942523571, 9.988081942523571, 9.988081942523571, 9.988081942523571, 9.988081942523571, 9.988081942523571, 9.988081942523571, 9.988081942523571, 9.988681849682507, 15.633798330228707, 27.055336199465177, 29.136041457784906, 29.372157432443146, 29.37645157610843, 29.339334618552044, 29.273436393638075, 29.164993522605492, 28.987829206467516, 28.69958731584655, 28.233595228469575, 27.488252283933928, 26.317725764114865, 24.537201466438166, 21.977732952275773, 18.651908085491684, 15.030819937073638, 12.084672233670418, 10.529433923303287, 10.064844989232022, 9.993767085744125, 9.988324507050521, 9.988089879425964, 9.988082238631513, 9.98808196022054, 9.988081944515237, 9.988081942939473, 9.988081942667499],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    