
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [200, 0, 0, 0, 250, 0, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0, 0, 100, 0, 105, 0, 12, 23, 26, 26, 35, 0, 18, 9, 5, 12, 11, 14, 0, 0, 7, 7, 3, 1],
          line: {color: '#17BECF'}
        } 

        
    var data = [trace1];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    