
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 6, 23, 45, 48, 48, 34, 0, 0],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [14.454545454545457, 15.775757575757577, 17.096969696969698, 18.418181818181818, 19.73939393939394, 21.060606060606062, 22.381818181818183, 23.703030303030303, 25.024242424242424, 26.345454545454544],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [13.113866624856925, 12.78261846146295, 13.500061704917101, 15.499938295085238, 16.235696839822598, 16.272081297991893, 16.235696952357774, 15.500061704889324, 13.518377343805835, 13.150497902634394],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [14.453943259352545, 15.775203582674344, 17.096463905996142, 18.41772422931794, 19.738984552639735, 21.060244875961537, 22.381505199283335, 23.70276552260513, 25.024025845926932, 26.345286169248727],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [14.45442297761186, 15.775657309846553, 17.096891642081246, 18.41812597431594, 19.739360306550633, 21.060594638785325, 22.38182897102002, 23.703063303254716, 25.024297635489404, 26.345531967724103],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [14.454424933541224, 15.77570055105228, 17.096976168563337, 18.4182517860744, 19.739527403585456, 21.06080302109651, 22.382078638607574, 23.70335425611863, 25.02462987362969, 26.345905491140748],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.000103257156828, 2.000077435181385, 2.0000720562114704, 22.999694308138555, 29.166220206991895, 29.16622982229557, 29.166228930516542, 29.16622838218033, 29.166228047175643, 29.166227843961124],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.2790814491907554, 2.8896505188045616, 2.89366909816928, 23.090811078065272, 45.06218180880268, 47.76984822215872, 48.08255271036119, 33.82037130888429, 0.24083925863912015, -0.5611650935698176],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.0000367523874956, 2.0000367523874956, 2.0000367523874956, 28.28566201198812, 28.285662037163096, 28.28566203716316, 28.28566203716316, 28.28566203716316, 28.28566203716316, 28.28566203716316],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.030801056937413307, 0.032102070198483545, 6.000060303533797, 23.00026903213334, 29.16635470762079, 29.166378925780066, 29.166378931988795, 29.1663789320329, 29.16637893203226, 29.16637893203024],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.023689420337247302, -0.026617871453509245, 6.00052914927317, 23.000499070203393, 29.16655621306551, 29.166751021271203, 29.16674901394976, 29.166755356611578, 29.166769360089877, 29.166789361333482],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [1.998940103500276, 1.9989401035007308, 1.9989428688700084, 23.001774797286743, 29.161911117533563, 29.16192396847819, 29.161923978953226, 29.161923979412173, 29.16192397949, 29.161923979509506],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    