
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 0, 0, 0, 0, 10, 20, 10, 0, 0, 0, 0, 0, 15, 0, 35, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 14, 20, 35, 24, 23, 21, 18, 17],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.8636363636363638, -0.5246149199637573, -0.18559347629115086, 0.1534279673814556, 0.49244941105406204, 0.8314708547266685, 1.170492298399275, 1.5095137420718814, 1.8485351857444878, 2.1875566294170943, 2.5265780730897007, 2.865599516762307, 3.204620960434914, 3.54364240410752, 3.882663847780126, 4.221685291452733, 4.56070673512534, 4.899728178797946, 5.238749622470552, 5.577771066143159, 5.916792509815766, 6.255813953488372, 6.594835397160978, 6.933856840833585, 7.2728782845061914, 7.611899728178798, 7.9509211718514035, 8.28994261552401, 8.628964059196617, 8.967985502869222, 9.30700694654183, 9.646028390214436, 9.985049833887043, 10.32407127755965, 10.663092721232255, 11.002114164904862, 11.341135608577469, 11.680157052250074, 12.01917849592268, 12.358199939595288, 12.697221383267895, 13.036242826940502, 13.375264270613107],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.10001034164961187, 0.0997409689790546, 0.10001034599743008, 0.10042480955042299, 0.10020025976597535, 0.09995927303868024, 1.7930125518349629, 2.4765097484259257, 1.7932488304640037, 0.10792040550379967, 0.09999982466698332, 0.0995010155169469, 0.09995922608836538, 0.09986065145756595, 1.0694295328862506, 0.47787443355242004, 1.0723165539819512, 0.09971130667864503, 0.10043896559205068, 0.09988349443105227, 0.09988357217653743, 0.09979785242594441, 0.10046134949805396, 0.09997963979520785, 0.10032301066975036, 0.09991355637927068, 0.09997459431368572, 0.10025997653797225, 0.1000963234958564, 0.10043764723275583, 0.09952650434178234, 0.09997963772988272, 0.09966601645221507, 0.100006060216842, 1.7930410385960232, 2.5132671787436625, 2.549793569338594, 2.5500402932738417, 2.5500405183184958, 2.550040405811097, 2.5499169960070103, 2.5316013571182765, 2.163721915946834],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.8636694273297343, -0.5246528620268383, -0.185636296723942, 0.15338026857895523, 0.49239683388185174, 0.8314133991847477, 1.170429964487645, 1.509446529790541, 1.8484630950934375, 2.1874796603963342, 2.52649622569923, 2.8655127910021254, 3.204529356305024, 3.5435459216079197, 3.882562486910814, 4.221579052213713, 4.560595617516609, 4.899612182819504, 5.238628748122401, 5.577645313425299, 5.916661878728194, 6.255678444031092, 6.59469500933399, 6.93371157463688, 7.272728139939776, 7.611744705242677, 7.950761270545572, 8.28977783584847, 8.628794401151364, 8.967810966454266, 9.306827531757163, 9.645844097060056, 9.984860662362955, 10.323877227665848, 10.662893792968744, 11.00191035827164, 11.340926923574541, 11.679943488877434, 12.01896005418033, 12.35797661948323, 12.696993184786125, 13.036009750089018, 13.375026315391917],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.8637715783447703, -0.5247455109812738, -0.18571944361777695, 0.15330662374572046, 0.49233269110921773, 0.8313587584727141, 1.1703848258362122, 1.509410893199708, 1.8484369605632054, 2.1874630279267024, 2.526489095290201, 2.8655151626536974, 3.204541230017193, 3.5435672973806893, 3.8825933647441873, 4.221619432107682, 4.560645499471177, 4.899671566834681, 5.238697634198172, 5.577723701561677, 5.916749768925169, 6.255775836288666, 6.594801903652165, 6.933827971015659, 7.272854038379157, 7.6118801057426575, 7.950906173106152, 8.289932240469652, 8.628958307833146, 8.96798437519664, 9.30701044256014, 9.646036509923631, 9.985062577287131, 10.32408864465063, 10.663114712014128, 11.002140779377626, 11.341166846741123, 11.680192914104618, 12.01921898146811, 12.358245048831611, 12.697271116195108, 13.036297183558608, 13.375323250922104],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.8635024106972131, -0.5244886249410623, -0.18547483918491103, 0.15353894657124, 0.4925527323273914, 0.8315665180835429, 1.1705803038396938, 1.5095940895958448, 1.848607875351996, 2.187621661108147, 2.5266354468642978, 2.8656492326204495, 3.2046630183766007, 3.543676804132751, 3.8826905898889024, 4.2217043756450545, 4.560718161401205, 4.899731947157356, 5.238745732913507, 5.577759518669659, 5.916773304425812, 6.255787090181961, 6.5948008759381125, 6.9338146616942655, 7.272828447450415, 7.611842233206566, 7.950856018962716, 8.289869804718867, 8.62888359047502, 8.967897376231171, 9.30691116198732, 9.645924947743472, 9.984938733499625, 10.323952519255776, 10.662966305011928, 11.001980090768079, 11.34099387652423, 11.68000766228038, 12.019021448036533, 12.358035233792684, 12.697049019548835, 13.036062805304987, 13.375076591061138],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [1.3703331411744593, 1.3805652353414004, 1.3835961264721854, 1.385180816830422, 1.3862557559140618, 1.3870775776096314, 1.3877503117909318, 1.388324772642104, 1.3888289126152682, 1.3892796629947686, 1.3896881441012048, 1.390062161320841, 1.3904074849094346, 1.390728542262883, 1.3910288109516447, 1.3913110551130419, 1.3915774791172304, 1.3918298378366953, 1.3920695262476948, 1.392297668650864, 1.3925152495116362, 1.3927234208934578, 1.392924457305315, 1.3931250067311751, 1.3933473616503833, 1.3936683817411009, 1.3943524405500933, 1.3962990739029768, 1.4025246361331392, 1.422962954819449, 1.4895550916755995, 1.7011754403670671, 2.3417624597612203, 4.096656466721829, 8.021271492075329, 14.126811372868945, 19.805019868804546, 23.009444018059035, 24.351927347390287, 24.859275107436233, 25.053583655571337, 25.144789488168694, 25.2337016166754],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-2.5726961542560387, -0.03714894190498885, 1.1266076955236652, 1.5353814053707358, 1.8742067783669252, 2.1588372736119514, 2.3782989764548685, 2.5361800896921873, 2.643811616605355, 2.713610441634439, 2.756124166278919, 2.7793289528654666, 2.7888510425925674, 2.7884395167993152, 2.780430313342898, 2.7661250498682706, 2.7460758388742543, 2.7202885905711303, 2.688362365067674, 2.6495819952893576, 2.602979048478495, 2.54737347150848, 2.481405434119105, 2.4035640679649615, 2.312217186479885, 2.205645377741537, 2.08209432147839, 1.9399212304732258, 1.7781869337542306, 1.5991485222568156, 1.4182500629559427, 1.3017116799026889, 1.4955433042717456, 2.7788851441293363, 6.804881129001599, 14.055008496578816, 20.530952434992745, 23.52164695781236, 24.28043211651689, 24.199560389306168, 23.88069613919153, 23.523770722891978, 23.18421456427268],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [1.9284369460873358, 1.928436946087339, 1.9284369460874753, 1.9284369460885935, 1.928436946091826, 1.9284369460970965, 1.928436946104051, 1.9284369461131474, 1.9284369461257238, 1.9284369461441384, 1.9284369461724604, 1.9284369462180138, 1.9284369462946156, 1.928436946429563, 1.9284369466794284, 1.9284369471675817, 1.9284369481781136, 1.92843695040436, 1.9284369556460306, 1.9284369688876708, 1.92843700489853, 1.9284371105778977, 1.928437445612556, 1.9284385922955543, 1.9284428167639553, 1.928459472847048, 1.9285291202349817, 1.9288340760564535, 1.930209403562202, 1.9364712959327781, 1.9645897039654823, 2.0857101287005704, 2.5669877404678942, 4.204471954381672, 8.296189333246728, 14.362248690483714, 19.274949411727444, 21.856231836281108, 22.991622098388053, 23.48220833451488, 23.70457211780224, 23.81245403597544, 23.86860877584417],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [1.1156568681830006, 1.128873683688349, 1.1288860944391743, 1.1288865945110906, 1.1288866813957892, 1.1288867116477306, 1.1288867277325831, 1.128886738801425, 1.1288867474560416, 1.128886754561707, 1.1288867604615653, 1.1288867653377395, 1.128886769324474, 1.1288867725419145, 1.1288867751040783, 1.1288867771195914, 1.1288867786937988, 1.1288867799448212, 1.128886781081814, 1.128886782767509, 1.1288867878179474, 1.1288868092987396, 1.1288869095199505, 1.1288873889174873, 1.1288897012040788, 1.1289008646228549, 1.128954499876329, 1.1292095467558685, 1.1304034469770539, 1.1358756690607592, 1.1602939090542659, 1.2655295159239142, 1.6958821320924464, 3.278335402524073, 7.758050827360748, 15.06658605922095, 20.732486577927716, 23.187139105545654, 24.007310995848545, 24.265203343462453, 24.347436552747897, 24.37468781978861, 24.38419270402558],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [1.6307278028615269, 1.8183576910961734, 1.8441867870637982, 1.851423709553511, 1.854310940834988, 1.8557760583195568, 1.8566829517074344, 1.8573413324350327, 1.8578760619690184, 1.8583419055144943, 1.8587646861371194, 1.8591574994710176, 1.859527573088947, 1.859879360982354, 1.8602160525874916, 1.860540417689414, 1.8608554307146137, 1.8611649600671694, 1.861474824061684, 1.861794698614959, 1.8621418236868008, 1.8625484991801229, 1.8630777183293623, 1.8638567186959625, 1.8651510610708315, 1.8675329342904559, 1.8722746161925463, 1.882294344948067, 1.9044899277765563, 1.9556182688842152, 2.0772477631399284, 2.3731157280514523, 3.095164809126045, 4.797354795749498, 8.393821180217227, 14.202658347199367, 19.878233085051164, 23.0610336302276, 24.341273361567048, 24.804681507184263, 24.972331558387467, 25.035146555020738, 25.059798094760964],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.0812650028773163, -0.08126500287697525, -0.08126500287397675, -0.08126500284723193, -0.08126500266695302, -0.08126500204190279, -0.08126500122698133, -0.08126500067149323, -0.08126500030748218, -0.0812649999634516, -0.08126499953003474, -0.08126499891680794, -0.08126499799672615, -0.08126499653747032, -0.08126499406405685, -0.08126498951595806, -0.08126498028252627, -0.08126495917181842, -0.08126490367644124, -0.08126473279952506, -0.0812641094811255, -0.08126142193513886, -0.08124802185422197, -0.08117412314933858, -0.08075146302562075, -0.0784260708999085, -0.06698995194857105, -0.019626902151301806, 0.1392867903117576, 0.5640987173139251, 1.470685886207832, 3.0394681653466478, 5.294871081463043, 8.06814239359484, 11.0737746269386, 14.026980853990068, 16.72240085545826, 19.05314871501264, 20.99207205025897, 22.562082275869628, 23.810626318429655, 24.79261841003222, 25.56089252793484],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    