
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 0, 0, 0, 0],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
          line: {color: '#1A237E'}
        } 

        
    var data = [trace1,trace2,trace3];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    