
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 180, 180, 180, 180, 180, 2, 2, 10, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0, 0, 0, 0, 0, 0, 54, 2, 2, 15, 6, 0, 1, 0, 3, 6, 3, 19, 42, 0, 19, 81, 1, 0],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [72.21458773784354, 70.18000604047114, 68.14542434309875, 66.11084264572635, 64.07626094835396, 62.041679250981566, 60.00709755360917, 57.972515856236775, 55.93793415886438, 53.903352461491984, 51.86877076411959, 49.8341890667472, 47.7996073693748, 45.76502567200241, 43.73044397463001, 41.69586227725762, 39.66128057988522, 37.62669888251283, 35.59211718514043, 33.557535487768035, 31.522953790395647, 29.48837209302325, 27.453790395650856, 25.41920869827846, 23.384627000906065, 21.35004530353367, 19.315463606161273, 17.280881908788885, 15.24630021141649, 13.211718514044094, 11.177136816671698, 9.142555119299303, 7.107973421926914, 5.0733917245545115, 3.038810027182123, 1.0042283298097203, -1.0303533675626682, -3.064935064935071, -5.099516762307459, -7.134098459679862, -9.16868015705225, -11.203261854424639, -13.237843551797042],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.7940881056333327, 2.426208664448675, 3.143651800817606, 3.1800422412707268, 3.162867475655965, 2.8139788852871126, 1.8999517246024182, 1.90019578165413, 2.0679092682738376, 0.5195087507971292, 0.09962027088608205, 0.09991382046168429, 0.0997796515566407, 0.1000729877265909, 0.09996181954309913, 0.4993290413288539, 1.6475177369967693, 0.49882665252468383, 0.09991382300074014, 0.10026091164838857, 0.10004429010111648, 0.10013797431623983, 0.09986262850203098, 0.10030660842729988, 0.5193682306402493, 2.0679029152080632, 1.9002419551543583, 1.8998204563883208, 2.7772895790912786, 2.412050316337295, 0.8461153758340754, 0.9000843417373058, 0.8461983491149598, 2.4244599671880662, 3.040691226900313, 2.8999736082446983, 3.0407912663413397, 2.43952040801162, 1.1802082814178152, 2.4201124130727973, 2.6191740915264314, 1.0998574638782577, 0.30624134195472996],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [72.21275777882558, 70.17824547567939, 68.14373317253317, 66.10922086938693, 64.07470856624074, 62.04019626309454, 60.00568395994833, 57.97117165680213, 55.93665935365591, 53.902147050509726, 51.86763474736351, 49.83312244421731, 47.79861014107108, 45.76409783792488, 43.729585534778664, 41.69507323163249, 39.66056092848628, 37.626048625340076, 35.591536322193875, 33.55702401904765, 31.52251171590144, 29.48799941275524, 27.45348710960905, 25.41897480646283, 23.38446250331662, 21.34995020017041, 19.315437897024204, 17.280925593878006, 15.246413290731766, 13.21190098758559, 11.177388684439377, 9.142876381293188, 7.108364078146961, 5.073851775000782, 3.039339471854536, 1.0048271687083705, -1.0296851344378526, -3.064197437584058, -5.098709740730262, -7.133222043876485, -9.167734347022703, -11.202246650168892, -13.236758953315093],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [72.21438891800845, 70.17982355630707, 68.14525819460572, 66.11069283290436, 64.076127471203, 62.0415621095016, 60.00699674780025, 57.972431386098876, 55.93786602439751, 53.903300662696154, 51.86873530099476, 49.834169939293396, 47.799604577592035, 45.76503921589065, 43.73047385418931, 41.69590849248794, 39.66134313078655, 37.62677776908517, 35.59221240738381, 33.55764704568246, 31.52308168398108, 29.488516322279715, 27.453950960578346, 25.419385598876996, 23.384820237175614, 21.350254875474253, 19.31568951377286, 17.28112415207149, 15.246558790370164, 13.211993428668771, 11.177428066967403, 9.14286270526602, 7.108297343564663, 5.0737319818633, 3.0391666201619394, 1.004601258460569, -1.0299641032408164, -3.064529464942184, -5.099094826643547, -7.133660188344919, -9.168225550046277, -11.202790911747629, -13.237356273449022],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [72.21444799952388, 70.17987814314768, 68.14530828677147, 66.11073843039526, 64.07616857401906, 62.041598717642856, 60.00702886126665, 57.97245900489044, 55.93788914851423, 53.90331929213803, 51.86874943576182, 49.83417957938562, 47.79960972300941, 45.76503986663322, 43.73047001025701, 41.6959001538808, 39.66133029750459, 37.62676044112839, 35.59219058475218, 33.55762072837597, 31.52305087199978, 29.488481015623577, 27.45391115924737, 25.419341302871157, 23.384771446494945, 21.35020159011874, 19.31563173374254, 17.281061877366348, 15.246492020990138, 13.211922164613933, 11.177352308237731, 9.142782451861525, 7.108212595485309, 5.073642739109104, 3.039072882732899, 1.0045030263566872, -1.0300668300195177, -3.0646366863957297, -5.099206542771935, -7.133776399148143, -9.168346255524344, -11.202916111900553, -13.237485968276754],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [30.62023066817982, 30.594173218862785, 30.567102266580154, 30.539222290016145, 30.51092478676877, 30.48269010729262, 30.454994819232983, 30.42824851252137, 30.40276308806961, 30.378747260041642, 30.356316528441678, 30.33551035403093, 30.316310938360612, 30.298660467430597, 30.28247544237395, 30.267657797330198, 30.254103065056807, 30.241706080627157, 30.230364757039332, 30.219982419049945, 30.21046909930214, 30.201742113665297, 30.193726154418542, 30.186353075334917, 30.179561492193447, 30.173296284124014, 30.167508053209957, 30.162152579695604, 30.157190296027174, 30.15258579322138, 30.14830736648772, 30.14432660270901, 30.140618009635272, 30.137158684978232, 30.13392802265848, 30.130907453008092, 30.12808021359629, 30.125431147406545, 30.122946525269835, 30.12061388969712, 30.118421917519086, 30.1163602990112, 30.114419631442388],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [142.59997422230174, 142.59997422230174, 142.59997422230174, 142.59997422230174, 142.60002671401824, 178.616918185005, 3.54669713468542, 1.1893726818966481, 1.4041374768812798, 1.4318201291499957, 1.4336116696707393, 1.515897324797205, 1.9417146004418466, 4.0656632749011745, 10.333875888354394, 16.29620165503305, 17.99987344317943, 17.1158952572623, 15.252607571226006, 13.22963661233326, 11.407297824316979, 9.90225458226214, 8.715427154288621, 7.803595167700644, 7.1146086964752016, 6.602039661894269, 6.229883740273025, 5.973299569328288, 5.818412792149007, 5.762723353745816, 5.81716895454852, 6.011131698882713, 6.402590983470837, 7.097178107267134, 8.280576024468239, 10.259206751558736, 13.449788978070991, 18.115652719308482, 23.701686921443823, 28.678460071140215, 31.93563445064501, 33.641910836978575, 34.44966886035316],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [29.287741306108472, 28.57421697148815, 27.75125658695409, 27.068556881928217, 26.561924683682633, 26.19667782224506, 25.9312396028447, 25.734392685527027, 25.58534800060987, 25.47047308515363, 25.38058676055023, 25.30926611982664, 25.251866165526984, 25.204950025436155, 25.16594110145277, 25.132895734954282, 25.104344877317935, 25.07917862627553, 25.056559702748412, 25.03585775708276, 25.016599261355857, 24.99842928756122, 24.98108241032612, 24.964360615703942, 24.94811657503618, 24.932241012310822, 24.91665318336141, 24.90129371284566, 24.886119212651334, 24.871098243161004, 24.856208284901115, 24.84143346929971, 24.826762879109623, 24.81218927594698, 24.797708147842776, 24.783316996433744, 24.769014803532286, 24.754801631928267, 24.740678326617378, 24.72664629115505, 24.712707320206828, 24.69886347413776, 24.685116985054798],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.0074570212035487415, 30.18887107583077, 30.18887464775796, 30.188874652178146, 30.188874652327268, 30.18887465234964, 30.188874652356382, 30.188874652359242, 30.18887465236072, 30.18887465236159, 30.188874652362152, 30.18887465236254, 30.188874652362827, 30.188874652363044, 30.188874652363214, 30.188874652363353, 30.188874652363467, 30.188874652363562, 30.18887465236364, 30.188874652363708, 30.18887465236377, 30.18887465236382, 30.18887465236386, 30.1888746523639, 30.188874652363932, 30.18887465236396, 30.188874652363985, 30.188874652364007, 30.188874652364024, 30.188874652364042, 30.188874652364056, 30.18887465236407, 30.18887465236408, 30.188874652364092, 30.1888746523641, 30.18887465236411, 30.188874652364117, 30.188874652364124, 30.188874652364127, 30.188874652364134, 30.188874652364138, 30.18887465236414, 30.188874652364145],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.7391626496373078, 179.0513997599756, 180.46191371208974, 181.88326847462642, 180.1802842035651, 180.05623792790797, 0.5992985492307099, 1.3763391380870118, 1.5114525180705414, 1.6244453409462984, 1.851065864043889, 2.3175592874822684, 3.2434695693979876, 4.866965876150605, 6.933888640376338, 8.477942128375792, 9.16977746062557, 9.428218573146703, 9.538952778560956, 9.601631662154753, 9.648003274274622, 9.688288073677938, 9.725699175445817, 9.761354244119982, 9.796230321168812, 9.832313658067916, 9.873810661572058, 9.928865902482453, 10.011952151460342, 10.146616926718908, 10.367460755890729, 10.719325865965056, 11.251473713784208, 12.006063255505437, 13.00369452734362, 14.232235799299339, 15.645245875784408, 17.171661990618574, 18.732210168332735, 20.25516878167666, 21.686202709610654, 22.991210050518557, 24.15414871738757],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [14.621669868635854, 28.988290382763516, 29.458525279176776, 29.476724626052793, 29.478411751933464, 29.478732994863034, 29.478831781180332, 29.47887274028548, 29.47889324497327, 29.47890485557923, 29.47891200282903, 29.47891666669507, 29.47891983865596, 29.47892206047706, 29.478923649339585, 29.478924801621464, 29.478925644633, 29.47892626410578, 29.47892671960052, 29.478927053552415, 29.478927296804844, 29.478927472124, 29.478927596508868, 29.478927682757263, 29.478927740557232, 29.47892777726606, 29.478927798477695, 29.478927808443004, 29.47892781038509, 29.47892780673847, 29.478927799331792, 29.478927789528285, 29.478927778334153, 29.478927766482343, 29.478927754497477, 29.4789277427461, 29.478927731475597, 29.478927720844226, 29.47892771094429, 29.478927701819956, 29.4789276934808, 29.478927685912225, 29.47892767908324],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    