
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 10, 15, 40, 0, 0, 0, 0, 0, 0, 0, 30, 42, 0, 0, 26, 90, 51, 105, 60, 138, 0, 0, 0, 0, 0, 60, 51, 37, 27, 36, 0, 27, 63, 54, 60, 57, 69],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [7.688259109311739, 8.905678958310535, 10.123098807309333, 11.340518656308127, 12.557938505306925, 13.775358354305721, 14.992778203304518, 16.210198052303312, 17.42761790130211, 18.645037750300908, 19.862457599299702, 21.0798774482985, 22.2972972972973, 23.514717146296093, 24.732136995294887, 25.949556844293685, 27.166976693292483, 28.384396542291277, 29.601816391290075, 30.81923624028887, 32.03665608928767, 33.25407593828646, 34.471495787285264, 35.68891563628406, 36.90633548528285, 38.123755334281654, 39.34117518328045, 40.55859503227924, 41.77601488127804, 42.99343473027683, 44.21085457927563, 45.42827442827443, 46.64569427727322, 47.86311412627202, 49.08053397527082, 50.29795382426961, 51.51537367326841, 52.73279352226721],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [24.62754790027513, 24.29605291727298, 24.976864882949663, 26.240982590802695, 24.976741360610404, 24.277613756031098, 24.24122929788958, 24.240982928422106, 24.24122952295993, 24.277860575639274, 25.01337263838787, 26.976741473159464, 26.976864995498726, 25.031935321969016, 24.682618339294482, 26.013866727758806, 27.381499349322073, 27.767693979241553, 27.78588620829842, 27.749378452860217, 27.013619683066395, 25.013619683108058, 24.277861025835524, 24.24147656766623, 24.277861025823725, 25.013619587497406, 27.01351483323842, 27.73381724821078, 27.47321011592587, 26.89999998170482, 26.735190568045414, 25.715369245337616, 26.899999999086482, 27.694298964075553, 27.783255408989113, 27.786114580493436, 27.767817709712755, 27.39993828549152],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [7.688311427211149, 8.905694140013889, 10.123076852816629, 11.340459565619373, 12.557842278422106, 13.775224991224848, 14.992607704027588, 16.20999041683033, 17.427373129633065, 18.644755842435806, 19.862138555238552, 21.079521268041283, 22.296903980844025, 23.514286693646767, 24.7316694064495, 25.94905211925225, 27.16643483205499, 28.383817544857724, 29.601200257660466, 30.818582970463208, 32.03596568326594, 33.25334839606869, 34.47073110887142, 35.688113821674165, 36.9054965344769, 38.12287924727965, 39.34026196008237, 40.55764467288512, 41.77502738568786, 42.99241009849061, 44.20979281129335, 45.42717552409608, 46.64455823689881, 47.86194094970157, 49.0793236625043, 50.29670637530703, 51.514089088109785, 52.73147180091252],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [7.688283056213139, 8.905685745108764, 10.12308843400439, 11.340491122900017, 12.557893811795644, 13.77529650069127, 14.992699189586897, 16.210101878482526, 17.42750456737815, 18.644907256273775, 19.862309945169404, 21.07971263406503, 22.297115322960657, 23.514518011856286, 24.73192070075191, 25.949323389647542, 27.166726078543164, 28.384128767438792, 29.601531456334417, 30.818934145230042, 32.03633683412567, 33.2537395230213, 34.47114221191693, 35.68854490081255, 36.90594758970818, 38.123350278603795, 39.34075296749943, 40.55815565639506, 41.77555834529068, 42.99296103418631, 44.21036372308194, 45.42776641197756, 46.64516910087319, 47.86257178976882, 49.07997447866445, 50.297377167560064, 51.5147798564557, 52.73218254535132],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [7.688262368982619, 8.90566609115475, 10.123069813326879, 11.340473535499012, 12.55787725767114, 13.775280979843274, 14.992684702015403, 16.210088424187532, 17.427492146359665, 18.644895868531794, 19.862299590703923, 21.079703312876056, 22.29710703504818, 23.514510757220318, 24.731914479392447, 25.949318201564576, 27.166721923736713, 28.38412564590884, 29.60152936808097, 30.8189330902531, 32.03633681242523, 33.25374053459736, 34.4711442567695, 35.688547978941635, 36.90595170111376, 38.123355423285886, 39.340759145458016, 40.55816286763016, 41.77556658980228, 42.99297031197441, 44.21037403414655, 45.427777756318676, 46.645181478490805, 47.86258520066295, 49.079988922835064, 50.2973926450072, 51.51479636717933, 52.73220008935146],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [9.645884186496536, 9.647292952611094, 9.647784500806097, 9.647933677759788, 9.647935084212953, 9.647783011582346, 9.647337110327438, 9.646277523845686, 9.643969471542736, 9.639215705299451, 9.629896618966454, 9.612586525044648, 9.582404117150748, 9.533759131382343, 9.57023555797484, 24.977321646699895, 44.37800644390262, 44.551841938554446, 44.40859191587517, 44.26430935165118, 44.13022105753423, 44.010668879254204, 43.907149817458176, 43.81927066020325, 43.745604141897275, 43.68430751190098, 43.63349476446775, 43.591425956382935, 43.55658271641686, 43.527681533837175, 43.503657265866, 43.48363513000193, 43.46690053797067, 43.452871049348566, 43.44107203661468, 43.431116336506506, 43.422687582141414, 43.41552670422319],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-8.296092505828845, 7.741500421255616, 7.6040890586809615, 7.501494864777665, 7.549227444840679, 7.567632225680327, 7.5748732100123926, 7.583649975803648, 7.596287866000103, 7.615815250632088, 7.648693790445564, 7.711253304963125, 7.854393022527986, 8.293385496416114, 10.478600468947711, 29.383651271804226, 59.63419170746067, 60.37845038220547, 62.691436878754686, 62.50963795133255, 60.776564877214, 32.49895862768429, 28.59582142088008, 28.41974973809343, 28.37971425739692, 28.362084681887914, 28.35210728446564, 28.34532109280474, 28.339937389813187, 28.33516011678779, 28.3306174565935, 28.32613543653344, 28.321638964854813, 28.317104887804362, 28.31253783035457, 28.30795678800878, 28.303387265710867, 28.298856583184403],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [30.116054745087656, 30.117819056341972, 30.118545231764926, 30.119013549275888, 30.119372741173336, 30.119661760006785, 30.11989905219754, 30.12009709174029, 30.120265231718008, 30.120410583132976, 30.120538503063297, 30.120652971214337, 30.12075690436592, 30.120852416888034, 30.12094103060585, 30.12102383885669, 30.12110163119712, 30.121174985803997, 30.121244336329802, 30.121310019183078, 30.12137230621054, 30.12143142675371, 30.121487582146468, 30.121540954954988, 30.121591714646648, 30.121640020896937, 30.12168602538346, 30.121729872650562, 30.121771700436575, 30.121811639720082, 30.121849814647046, 30.12188634243659, 30.121921333320053, 30.12195489054018, 30.121987110419607, 30.122018082497384, 30.122047889726353, 30.1220766087213],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.3957555505642034, 9.809190796375148, 9.88040678466248, 9.885672709360943, 9.886678701398296, 9.886949962123847, 9.887032418671819, 9.88705818551181, 9.887066242710699, 9.887068781657089, 9.887069599591765, 9.887069870125282, 9.887069962368289, 9.887075323458927, 9.910158787501148, 25.79601079398084, 44.61594637599873, 44.637429246947164, 44.63746189107469, 44.637462087505746, 44.63746209060468, 44.637462090761225, 44.63746209080544, 44.63746209083155, 44.637462090849226, 44.63746209086176, 44.637462090870905, 44.63746209087774, 44.63746209088294, 44.63746209088696, 44.63746209089011, 44.6374620908926, 44.63746209089458, 44.63746209089618, 44.63746209089748, 44.63746209089854, 44.63746209089941, 44.63746209090013],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-9.140822374154222, 0.18876853194488508, 0.1887576117901517, 0.1887556492889555, 0.18875486600218494, 0.18875455036871802, 0.1887544148956275, 0.18875433610385084, 0.18875426936268358, 0.18875420144168498, 0.18876815769676725, 10.06280091916987, 10.465859631500772, 10.4793966966828, 15.613389609831028, 15.650600110265241, 72.84922027514448, 72.84922027791106, 72.84922027791083, 72.84922027791026, 72.70924582630654, 27.93307467447673, 27.611648642848465, 27.608020830755557, 27.60769754399997, 27.6076266293989, 27.607602251697656, 27.607591486095764, 27.607585911755194, 27.607582678765546, 27.607580636199074, 27.607579259677472, 27.607578287060498, 27.607577576375107, 27.607577044889688, 27.6075766410851, 27.607576330982756, 27.607576091098824],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-04', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [9.954565628293427, 9.954565628293427, 9.954565628293427, 9.954565628293427, 9.954565628293427, 9.954565628293427, 9.954565628293427, 9.954565628293427, 9.954565628293427, 9.95456562829343, 9.954565628293643, 9.9545656283385, 9.95456564594959, 9.954578560524343, 9.970981821241434, 25.9075258900078, 44.521764894843486, 44.54382536655251, 44.543843124105706, 44.54384315353268, 44.54384315365226, 44.543843153653455, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484, 44.543843153653484],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    