
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 60, 0, 9, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20, 0, 0, 60, 0, 30, 50, 40, 20, 44, 28, 39, 19, 34, 23, 10, 14, 26, 13, 15, 7, 19, 11, 14, 3, 16],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [8.668989547038327, 9.007491289198606, 9.345993031358885, 9.684494773519164, 10.022996515679441, 10.36149825783972, 10.7, 11.038501742160278, 11.377003484320557, 11.715505226480836, 12.054006968641115, 12.392508710801394, 12.731010452961673, 13.069512195121952, 13.408013937282231, 13.74651567944251, 14.085017421602789, 14.423519163763068, 14.762020905923345, 15.100522648083624, 15.439024390243903, 15.777526132404182, 16.11602787456446, 16.45452961672474, 16.793031358885017, 17.1315331010453, 17.470034843205575, 17.808536585365854, 18.147038327526133, 18.48554006968641, 18.82404181184669, 19.16254355400697, 19.50104529616725, 19.839547038327527, 20.178048780487806, 20.516550522648085, 20.855052264808364, 21.19355400696864, 21.532055749128922, 21.870557491289198, 22.20905923344948],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [9.32030644736997, 9.651567634392805, 10.899432190122436, 9.674917933980817, 9.099703440773686, 9.100148306262092, 8.95952584617633, 8.900368604044838, 8.897376774493113, 8.897356573735019, 8.897356555336916, 8.897356780377216, 8.89760337491504, 8.933987833112111, 9.633115662720101, 10.897603374942817, 9.669746940525345, 9.669993760133519, 10.934481697398807, 10.405752867546752, 11.706625037938764, 12.405999462084576, 12.44238414532422, 12.442630739889822, 12.442630964932395, 12.442630964932395, 12.442630739889822, 12.442384145351998, 12.405999687182703, 11.706872082617286, 10.442630964932395, 11.706871857546936, 12.405752867556902, 12.405752724742632, 11.706715223324382, 10.419384164191388, 11.239705309024586, 11.100148270632852, 11.239581786685326, 10.40094500297728, 11.320396845981405],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [8.668864880119315, 9.00737279777482, 9.345880715430331, 9.684388633085838, 10.022896550741345, 10.361404468396852, 10.69991238605236, 11.03842030370787, 11.376928221363375, 11.715436139018882, 12.05394405667439, 12.3924519743299, 12.730959891985403, 13.069467809640917, 13.40797572729642, 13.746483644951924, 14.084991562607437, 14.423499480262942, 14.76200739791845, 15.100515315573958, 15.439023233229465, 15.777531150884974, 16.11603906854048, 16.454546986195986, 16.79305490385149, 17.131562821506996, 17.47007073916251, 17.80857865681801, 18.147086574473523, 18.48559449212903, 18.82410240978454, 19.16261032744005, 19.50111824509555, 19.839626162751063, 20.178134080406572, 20.516641998062074, 20.855149915717586, 21.193657833373095, 21.5321657510286, 21.870673668684102, 22.209181586339614],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [8.66891645604738, 9.00742489459093, 9.345933333134486, 9.684441771678038, 10.022950210221593, 10.361458648765147, 10.69996708730871, 11.038475525852254, 11.376983964395809, 11.715492402939374, 12.05400084148292, 12.39250928002646, 12.73101771857003, 13.069526157113584, 13.40803459565713, 13.746543034200686, 14.085051472744226, 14.423559911287795, 14.762068349831356, 15.100576788374902, 15.439085226918461, 15.777593665462028, 16.116102104005552, 16.45461054254911, 16.793118981092665, 17.13162741963622, 17.47013585817977, 17.80864429672333, 18.14715273526688, 18.48566117381046, 18.824169612354, 19.162678050897547, 19.501186489441086, 19.83969492798464, 20.17820336652822, 20.51671180507175, 20.855220243615317, 21.193728682158856, 21.532237120702412, 21.870745559245986, 22.20925399778954],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [8.668976445968568, 9.007485063591815, 9.345993681215065, 9.684502298838312, 10.023010916461558, 10.36151953408481, 10.700028151708057, 11.038536769331305, 11.377045386954553, 11.7155540045778, 12.054062622201048, 12.392571239824296, 12.731079857447543, 13.069588475070795, 13.408097092694042, 13.74660571031729, 14.085114327940538, 14.423622945563785, 14.762131563187033, 15.10064018081028, 15.439148798433532, 15.77765741605678, 16.116166033680027, 16.454674651303275, 16.793183268926523, 17.13169188654977, 17.47020050417302, 17.80870912179627, 18.147217739419514, 18.48572635704276, 18.824234974666012, 19.162743592289257, 19.501252209912504, 19.839760827535756, 20.178269445159003, 20.516778062782247, 20.8552866804055, 21.193795298028746, 21.532303915651994, 21.87081253327524, 22.20932115089849],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [24.99676766653741, 24.996767342030257, 24.939966422248432, 0.8382584865398566, 0.3414736410560663, 0.3411373204363033, 0.3411362069492475, 0.3411361989199378, 0.34113619882642193, 0.34113619878547335, 0.341136198130056, 0.34113618754071046, 0.3411360339604795, 0.34113448757106335, 0.5050978086380967, 8.99451036894448, 8.998633823901999, 9.036187717273142, 32.75545005219148, 33.080998322462044, 33.03692486595318, 32.941961598820534, 32.75279231383133, 32.400134955622995, 31.7857960301555, 30.79480317879305, 29.33530141525205, 27.402133343248845, 25.122958033869384, 22.732018094992817, 20.474709762195104, 18.51740544979916, 16.92135042716994, 15.670133756410102, 14.710258657146863, 13.980315861536159, 13.425284340010379, 13.000988960484232, 12.67385757057101, 12.41905861524371, 12.218434936342783],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-2.574923241821419, -1.1825623236804728, 36.638322922650985, 9.01966059702351, 6.089447263333176, 0.34573771439204126, 0.3593620278513008, 0.3593329708455242, 0.35927805810406, 0.3592072572624545, 0.3591340568971426, 0.35906659551046394, 0.3589886553536523, 0.3588475155843587, 0.3584948258088292, 0.35746990720395866, 0.3700769177520269, 5.179986143054508, 36.88447348227679, 37.53895437060909, 37.52658271406718, 37.72818185971919, 37.499663741798265, 37.444885377719636, 37.567663505996556, 37.36419976898258, 35.624590927754646, 30.854343632304808, 24.695634936785446, 19.917286885769723, 16.995153477627195, 15.343632391511655, 14.42703395584714, 13.9187136938098, 13.636067985402423, 13.478522502229637, 13.390562609883542, 13.341404631226325, 13.313916432085968, 13.298540967643973, 13.289939460723073],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-8.034449894187787, 26.770282280244047, 26.622499064795676, 18.03241700593115, 8.927494738188813, 3.6814800973969426, 1.8294954658308313, 1.2613325735620435, 0.5657999917198993, -0.5831166771124288, -1.8068180158323912, -2.4582192838791173, -1.939984277755272, 0.09817652212008454, 3.664708776570208, 8.426527128126281, 13.806431165359747, 19.155235161433644, 23.92780632443251, 27.784211797394228, 30.593082559531368, 32.374611753685265, 33.23329339345258, 33.30804092948799, 32.74381761077274, 31.678433464577388, 30.237343958871485, 28.531808889748213, 26.658228045852248, 24.697949285579433, 22.717476567845978, 20.76914474809223, 18.89226388258711, 17.11463813601066, 15.454305099905298, 13.92133256346542, 12.519536919220087, 11.248030339858516, 10.10254712037765, 9.076534676096713, 8.16201892433456],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [11.014087039638573, 6.879158895396217, 14.156500230229431, 8.464699822072141, 1.7177883544950578, 1.7064671794988875, 1.7057552541543455, 1.7050862105562379, 1.704292220751655, 1.703502631012908, 1.702937552472291, 1.7026938628181796, 1.702642237402529, 1.7026382829079165, 1.7026382115105436, 1.702638209673181, 1.7026382016186807, 1.7545914723217937, 38.614907286970976, 38.63079490763332, 38.63079480888768, 38.63079451693628, 38.630794017743895, 38.63079325553383, 38.630782742878814, 38.622045341718895, 37.61325053824812, 27.30307809945951, 20.302833580940565, 18.956084995065307, 18.633907025941262, 18.506238544460132, 18.41563172103224, 18.33851795626402, 18.279954274918456, 18.240930577514515, 18.21689466728727, 18.202570855243124, 18.194065408306102, 18.188946554551077, 18.185795425713977],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [22.668221113294873, 22.66822274446505, 22.64886844948856, 1.1396693397454554, 0.6493828266203994, 0.6479834619711271, 0.6479826607668824, 0.6479826590705393, 0.6479826972279321, 0.6479827630572905, 0.6479828682030551, 0.6479831366190547, 0.6479852394822205, 0.6480641671591312, 0.6883045680099147, 8.886242297994208, 8.923723753466943, 19.82192343433317, 34.58820886476152, 34.59022301859273, 34.590222951387474, 34.59022289701483, 34.59022283499461, 34.59022269511059, 34.590218629438425, 34.58935404378851, 33.92191597913385, 20.891636404381803, 20.778910460324617, 20.52366318264899, 17.268665000337815, 15.620605525978156, 15.462219550046797, 15.44019656044933, 15.435115715407282, 15.433433689240907, 15.43272071542377, 15.43236221768625, 15.432158949616245, 15.432033344559272, 15.431950714676574],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-04', '2016-05', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-1.1046927267288993, -1.1048807857345935, -1.10454516468522, -1.1026680655641599, -1.0950274955134915, -1.0743838005343775, -1.038236939183605, -0.9933413987050841, -0.9452028381039526, -0.8878849357481613, -0.8011772486909763, -0.6429083104445255, -0.32317559853846944, 0.35203022802632233, 1.7652180869966116, 4.5136232109760925, 9.155132123893637, 15.608457975479709, 22.805968514044707, 29.230717314218595, 33.80228601607995, 36.221507589007764, 36.75817893527585, 35.913365724778714, 34.191821168960274, 32.001768621621665, 29.63342280285596, 27.27345856958938, 25.030409944257812, 22.959211527122037, 21.08067583286109, 19.395383068649195, 17.89289801700741, 16.55754950603783, 15.371869238598023, 14.318520322368244, 13.38129195690631, 12.54553891296122, 11.79830484315626, 11.128275606887328, 10.525649411460833],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    