
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [100, 0, 48, 48, 413, 0, 0, 0, 0, 0, 0, 0, 10, 63, 0, 30, 84, 0, 351, 0, 75, 84, 88, 84, 36, 42, 84, 87, 131, 0, 12, 12, 117, 76, 89, 9, 129, 84, 138],
          line: {color: '#17BECF'}
        } 

        
    var data = [trace1];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    