
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [100, 0, 48, 48, 413, 0, 0, 0, 0, 0, 0, 0, 10, 63, 0, 30, 84, 0, 351, 0, 75, 84, 88, 84, 36, 42, 84, 87, 131, 0, 12, 12, 117, 76, 89, 9, 129, 84, 138],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [51.044871794871796, 51.76450742240216, 52.48414304993252, 53.203778677462886, 53.92341430499325, 54.64304993252362, 55.36268556005398, 56.08232118758434, 56.80195681511471, 57.52159244264507, 58.24122807017544, 58.960863697705804, 59.68049932523617, 60.400134952766535, 61.119770580296894, 61.83940620782726, 62.559041835357625, 63.278677462887984, 63.99831309041835, 64.71794871794872, 65.43758434547908, 66.15721997300945, 66.87685560053981, 67.59649122807018, 68.31612685560054, 69.0357624831309, 69.75539811066128, 70.47503373819163, 71.19466936572199, 71.91430499325236, 72.63394062078272, 73.35357624831309, 74.07321187584346, 74.79284750337382, 75.51248313090419, 76.23211875843455, 76.9517543859649, 77.67139001349528, 78.39102564102564],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [47.866558402527914, 46.95200427188725, 47.88475040654222, 47.91524958430569, 47.84799583149584, 46.19780622833026, 45.48023980011459, 45.44373181963381, 45.4434851125747, 45.443485112560815, 45.44373170707086, 45.48011616526793, 46.17924399487592, 47.443731707098635, 46.21587527265339, 46.21612186721899, 47.480363209946454, 46.9152499219251, 47.516994487751695, 46.95212779421262, 48.25275337003903, 48.95188074958965, 48.9516343800944, 48.21636891192529, 46.253000414717555, 46.25300018967498, 48.21612209228934, 48.91500287727436, 48.21587527270894, 46.21636891189751, 45.51724153237467, 46.21636891192529, 48.215875497779294, 48.91524969688253, 48.25275337005292, 46.988758959468804, 48.25287689239218, 48.93368885809664, 48.60219387509449],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [51.04544587620025, 51.7650511032463, 52.48465633029237, 53.20426155733842, 53.923866784384465, 54.643472011430525, 55.363077238476585, 56.08268246552263, 56.8022876925687, 57.52189291961476, 58.241498146660795, 58.96110337370686, 59.680708600752915, 60.400313827798975, 61.11991905484505, 61.8395242818911, 62.559129508937126, 63.278734735983186, 63.998339963029245, 64.71794519007531, 65.43755041712134, 66.1571556441674, 66.87676087121349, 67.59636609825955, 68.31597132530558, 69.03557655235167, 69.7551817793977, 70.47478700644373, 71.19439223348982, 71.91399746053585, 72.63360268758194, 73.35320791462797, 74.07281314167403, 74.79241836872009, 75.51202359576615, 76.23162882281216, 76.95123404985821, 77.6708392769043, 78.39044450395036],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [51.04433092611748, 51.76396234780482, 52.483593769492174, 53.20322519117949, 53.922856612866845, 54.642488034554184, 55.362119456241494, 56.08175087792887, 56.80138229961619, 57.52101372130355, 58.240645142990864, 58.96027656467824, 59.67990798636555, 60.39953940805283, 61.11917082974021, 61.83880225142755, 62.55843367311489, 63.27806509480224, 63.99769651648959, 64.71732793817688, 65.43695935986426, 66.15659078155159, 66.87622220323891, 67.59585362492626, 68.31548504661365, 69.035116468301, 69.75474788998828, 70.47437931167565, 71.19401073336302, 71.91364215505035, 72.63327357673766, 73.35290499842498, 74.07253642011236, 74.79216784179967, 75.51179926348703, 76.23143068517442, 76.95106210686167, 77.67069352854902, 78.39032495023632],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [51.0446833317672, 51.764264511117865, 52.48384569046851, 53.203426869819175, 53.92300804916983, 54.642589228520485, 55.36217040787115, 56.0817515872218, 56.80133276657246, 57.52091394592312, 58.24049512527378, 58.96007630462443, 59.679657483975085, 60.39923866332575, 61.1188198426764, 61.838401022027064, 62.55798220137771, 63.27756338072837, 63.99714456007903, 64.71672573942969, 65.43630691878035, 66.15588809813102, 66.87546927748167, 67.59505045683233, 68.31463163618298, 69.03421281553364, 69.75379399488428, 70.47337517423495, 71.1929563535856, 71.91253753293626, 72.63211871228691, 73.35169989163758, 74.07128107098822, 74.79086225033888, 75.51044342968953, 76.23002460904019, 76.94960578839085, 77.66918696774152, 78.38876814709216],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [93.19203946009074, 93.32546394544366, 93.63645005188002, 95.23000858040717, 98.59374499470181, 2.165967239247582, 2.242062967149171, 2.252031150285996, 2.2526525225247065, 2.2527480006861724, 2.252819921777795, 2.2528892294770775, 2.2529544876794603, 2.2530128455717087, 2.25305341277607, 2.2530128822750357, 2.2524750979583077, 2.2473183422115666, 98.70137826163239, 95.05540329459637, 94.00604225247324, 93.87921210352914, 93.86144239208613, 93.85994372491797, 93.86097279016386, 93.86229929006487, 93.86355837249565, 93.86469882674237, 93.86572237475994, 93.86663898242062, 93.86745916498776, 93.86819270794433, 93.86884850709029, 93.86943460287142, 93.86995824609909, 93.87042596595413, 93.8708436348617, 93.87121652915019, 93.87154938528735],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [76.04477158795574, 76.04477158795574, 76.04477158795574, 76.04477088006551, 76.04453722248776, 3.685811330906798, 2.2619568523425464, 2.2619568523425464, 2.2619568523425464, 2.2619568523425464, 2.2619568523425464, 2.2619568523425464, 2.2619568523425464, 2.2619568523425464, 2.261956852345696, 28.063877077405994, 32.580954553450475, -21.09135166831198, 95.60168786237104, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732, 95.60584677269732],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [160.83116308529534, 160.83116308529534, 160.83116308529534, 160.83116308529534, 160.83116308529534, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 13.69615581910865, 160.68289244247185, 71.26098700927584, 68.71481831895606, 68.69077737049963, 68.6905484636402, 68.69054628391143, 68.6905462631555, 68.69054626295778, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583, 68.69054626295583],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [99.15432191879233, 99.15432191889333, 99.15432191889349, 99.15432191885415, 99.15432135586924, 13.024681739195563, 12.898977862464136, 12.898977860293197, 12.898977860250726, 12.898977860245942, 12.898977860244846, 12.89897786024451, 12.898977860244415, 12.898977860244395, 12.89897786024439, 12.89897786024439, 12.89897786024439, 12.898977920861876, 91.65223944288243, 91.65279766737824, 91.65279766744099, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102, 91.65279766744102],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [98.95373491846296, 13.215999397445238, 11.540343499245282, 48.5815826865053, 98.95509007346256, 11.540042694290065, 11.538961059921217, 11.538952255913852, 11.53894721743261, 11.53894423976272, 11.538942355104862, 11.538940691259274, 11.538937352264153, 11.538914931200146, 11.538414985665586, 29.638394329370495, 53.214655040527475, 53.11033742206825, 98.26809384357762, 97.85211965458326, 97.70035218704658, 97.66191190587895, 97.65153707482867, 97.64857198383835, 97.64770650962373, 97.64745238122039, 97.64737788440786, 97.64735643752708, 97.64735086388546, 97.6473503262728, 97.64735180158952, 97.64735465104235, 97.64735905900159, 97.6473656302332, 97.64737535568922, 97.64738972680863, 97.6474109519399, 97.64744228780621, 97.64748852761828],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-04', '2016-05', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [138.52190459351885, 0.9350775428284095, 0.9350774706155676, 38.80043508243562, 138.52190459338928, 9.139686116878629, 0.9350774705843321, 0.9350774705843321, 0.9350774705843321, 0.9350774705843321, 0.935077470584389, 0.9350774705895475, 0.9350774706816907, 0.9350774956534877, 1.1535960658705022, 19.995078850752776, 86.73741800399706, 119.00808632002295, 114.8824030634807, 105.47477208687205, 96.07521283205267, 88.47797229375259, 82.89396659078012, 78.97437242997093, 76.28666533939548, 74.46663747009066, 73.24297459206336, 72.42386924127659, 71.87714143372393, 71.5129417375592, 71.27068079351665, 71.1097051466765, 71.00282930782151, 70.93191711408075, 70.88489050738373, 70.85371647759752, 70.83305773489762, 70.81937087149996, 70.81030489081128],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    