
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [0, 0, 0, 0, 10, 103, 7, 80, 40, 60, 16, 162, 0, 77, 45, 20, 0, 20, 0, 0, 60, 0, 0, 0, 0, 0, 0],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [39.17989417989419, 38.16035816035817, 37.14082214082215, 36.12128612128613, 35.10175010175011, 34.082214082214094, 33.062678062678074, 32.043142043142055, 31.023606023606032, 30.004070004070012, 28.98453398453399, 27.96499796499797, 26.94546194546195, 25.92592592592593, 24.90638990638991, 23.886853886853892, 22.867317867317873, 21.847781847781853, 20.828245828245834, 19.808709808709814, 18.78917378917379, 17.76963776963777, 16.750101750101752, 15.730565730565733, 14.711029711029713, 13.691493691493694, 12.671957671957674],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [0.29273103430875813, 0.10023385168350085, 0.10023385096028403, 0.6689209426317746, 2.609646288163936, 3.3424757724338194, 3.3790873327747253, 3.379334134377717, 3.3793341344032743, 3.3790875398932263, 3.342703081723931, 2.6435754771307396, 1.37933413443105, 2.6433286575225656, 3.3060715788483375, 2.6430816128718186, 1.3424560370176324, 1.871185091914659, 0.606697174112642, 0.6064716657028855, 1.8374883171907248, 0.6360814911407423, 0.10034614126654652, 0.09956641501509753, 0.09980992006462212, 0.0998099215006909, 0.294394300019105],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [39.17990757417414, 38.16036817715482, 37.14082878013547, 36.12128938311611, 35.10174998609676, 34.08221058907746, 33.06267119205806, 32.04313179503873, 31.023592398019375, 30.00405300100006, 28.98451360398073, 27.9649742069614, 26.945434809942064, 25.925895412922728, 24.906356015903405, 23.886816618884033, 22.86727722186469, 21.847737824845375, 20.828198427826038, 19.808659030806695, 18.789119633787344, 17.769580236767943, 16.750040839748657, 15.73050144272932, 14.710962045709957, 13.69142264869068, 12.671883251671293],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [39.17987731869772, 38.16034185987444, 37.140806401051165, 36.12127094222789, 35.10173548340461, 34.08220002458134, 33.06266456575806, 32.043129106934785, 31.023593648111515, 30.004058189288234, 28.984522730464953, 27.96498727164168, 26.945451812818398, 25.92591635399512, 24.90638089517185, 23.886845436348583, 22.867309977525313, 21.84777451870203, 20.828239059878754, 19.808703601055463, 18.789168142232203, 17.76963268340892, 16.750097224585634, 15.730561765762387, 14.71102630693909, 13.691490848115814, 12.671955389292537],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [39.179822219236115, 38.160288652441494, 37.140755085646866, 36.121221518852245, 35.101687952057624, 34.082154385263, 33.06262081846838, 32.043087251673754, 31.02355368487914, 30.00402011808452, 28.98448655128989, 27.96495298449527, 26.94541941770064, 25.92588585090602, 24.9063522841114, 23.88681871731678, 22.86728515052215, 21.84775158372753, 20.8282180169329, 19.808684450138287, 18.78915088334366, 17.769617316549038, 16.75008374975441, 15.730550182959789, 14.711016616165166, 13.691483049370545, 12.671949482575926],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [0.11090132719662349, 0.021906653249926356, -0.08656698032682053, -0.25236161910481414, 1.2115246244107363, 30.9925140647761, 30.82897053752301, 30.687584357887605, 30.57552756876954, 30.492551204029706, 30.433771246761065, 30.392683393115252, 30.363620602089707, 30.342516588526035, 30.326706481231145, 30.31450017285101, 30.30482476310875, 30.29698523901283, 30.290517604253676, 30.28510152253092, 30.28050851173832, 30.276570796310008, 30.273162119419794, 30.270185553156235, 30.267565487419965, 30.26524218283874, 30.26316794752994],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [40.05883738180168, 40.05873230065865, 40.05873153075747, 40.05873152704666, 40.05873152702404, 40.05873152702368, 40.05873152702357, 40.05873152702347, 40.05873152702341, 40.05873152702338, 40.05873152702337, 40.058731527023326, 40.05873152580489, 40.058707852327274, 39.87922293102052, 20.451765074558775, 16.449874977955496, 16.450472644234786, 16.45047047066482, 16.449308909255645, 16.13343144968063, 3.861887372713692, -1.4599195880787854, -1.5989745169658933, -1.6050426196071976, -1.6060512032888536, -1.6072215663574907],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [25.925874512939608, 25.925896951365928, 25.92590414715658, 25.925906924289137, 25.925908170536708, 25.925908796011043, 25.925909135815786, 25.925909330016367, 25.925909443634055, 25.92590950963915, 25.925909546043385, 25.92590956332362, 25.925909567903084, 25.925909563896774, 25.92590955403927, 25.92590954020372, 25.92590952370531, 25.925909505485812, 25.92590948622964, 25.925909466439215, 25.925909446485274, 25.92590942664134, 25.925909407108005, 25.925909388030398, 25.92590936951106, 25.925909351619623, 25.925909334400206],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [-0.027364999785599586, 0.014948121073109277, 0.014920925130999407, 0.01491903165084807, 10.002504417548208, 31.363975173908365, 31.364002334903446, 31.364002373219822, 31.36400239675171, 31.36400241428512, 31.364002428243946, 31.36400243958964, 31.36400244884065, 31.364002456399174, 31.364002462613136, 31.364002467774206, 31.36400247211432, 31.364002475810416, 31.364002478994006, 31.36400248176169, 31.36400248418447, 31.364002486315176, 31.364002488193943, 31.364002489852155, 31.36400249131513, 31.36400249260397, 31.364002493736752],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [8.617512782796892, -0.728997991985108, -7.510700783476362, 4.5336744391096, 10.937515493668936, 54.30247182287892, 49.68454066407012, 49.68454438798546, 49.695243518472985, 61.370179144973825, 61.69997838372741, 72.2184047587865, 72.27690244033678, 72.31010907850178, 46.31544257280847, 12.481989034531004, 8.754902786423465, 8.430908116215095, 8.403080117882974, 8.40067232057449, 8.400351721164146, 8.399680297001236, 8.395986416156175, 8.37513479028749, 8.257367304970144, 7.591752752502656, 3.8187553807588372],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-09'],
          y: [25.925925812504488, 25.92592587115469, 25.92592587117523, 25.92592587117531, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313, 25.925925871175313],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    