
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 0, 0, 0, 25, 25, 0, 50, 25, 0, 0, 0, 15, 35, 50, 0, 50, 25, 42, 33, 50, 50, 0, 88, 62, 50, 70, 60, 70],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-3.849462365591406, -1.572487949573608, 0.7044864664441901, 2.981460882461988, 5.258435298479785, 7.535409714497584, 9.812384130515383, 12.08935854653318, 14.366332962550977, 16.643307378568775, 18.920281794586575, 21.197256210604372, 23.47423062662217, 25.75120504263997, 28.028179458657764, 30.305153874675565, 32.58212829069336, 34.859102706711155, 37.13607712272896, 39.41305153874676, 41.69002595476455, 43.96700037078236, 46.24397478680015, 48.520949202817945, 50.79792361883575, 53.07489803485355, 55.35187245087134, 57.62884686688915, 59.90582128290694, 62.182795698924735],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [24.36419185388564, 23.996312506790133, 23.978100029001155, 23.993280768198332, 24.29965413549816, 25.100157467545575, 25.09968509975746, 25.022082252664603, 26.13437793895079, 25.100157456357998, 24.156664224166107, 23.985444814644474, 24.01479926310444, 24.750263680166068, 26.713878953444905, 26.750263636679183, 25.48626933863024, 26.05162967133011, 25.486516383280986, 26.7871417340926, 27.486269338658015, 27.48626956370059, 26.787388553700772, 25.52314766108623, 26.78738877877112, 27.486516383322652, 27.52290072895677, 27.52302391369051, 27.504708499844348, 27.13682905870068],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-3.8493803422050354, -1.5724102010241054, 0.7045599401568253, 2.9815300813377545, 5.258500222518683, 7.535470363699615, 9.812440504880543, 12.089410646061474, 14.366380787242404, 16.643350928423338, 18.920321069604256, 21.197291210785195, 23.474261351966117, 25.751231493147056, 28.028201634327985, 30.305171775508914, 32.58214191668985, 34.85911205787078, 37.13608219905171, 39.41305234023264, 41.69002248141357, 43.966992622594475, 46.24396276377543, 48.52093290495637, 50.797903046137286, 53.0748731873182, 55.351843328499136, 57.62881346968007, 59.90578361086101, 62.182753752041926],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-3.8504469385081137, -1.5734418295845, 0.7035632793391142, 2.9805683882627285, 5.257573497186343, 7.5345786061099576, 9.81158371503357, 12.088588823957181, 14.365593932880799, 16.642599041804413, 18.919604150728027, 21.19660925965164, 23.473614368575255, 25.75061947749887, 28.027624586422483, 30.304629695346094, 32.581634804269704, 34.85863991319332, 37.13564502211694, 39.41265013104055, 41.68965523996417, 43.96666034888778, 46.243665457811396, 48.520670566735006, 50.797675675658624, 53.074680784582235, 55.35168589350585, 57.62869100242946, 59.90569611135308, 62.18270122027669],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-3.84937974343703, -1.572409962190225, 0.7045598190565803, 2.9815296003033858, 5.258499381550191, 7.535469162796998, 9.812438944043802, 12.089408725290607, 14.366378506537412, 16.643348287784217, 18.920318069031023, 21.19728785027783, 23.474257631524637, 25.75122741277144, 28.028197194018247, 30.30516697526505, 32.58213675651186, 34.859106537758656, 37.13607631900546, 39.41304610025227, 41.690015881499086, 43.966985662745884, 46.24395544399269, 48.520925225239495, 50.79789500648629, 53.074864787733105, 55.35183456897991, 57.62880435022671, 59.905774131473514, 62.182743912720326],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [9.659763914250792, 9.65976391425176, 9.659763914251894, 9.65976391425191, 9.659763914251915, 9.659763914251917, 9.659763914251918, 9.659763914251918, 9.659763914251918, 9.659763914251918, 9.659763914252059, 9.65976442906442, 9.664533661645537, 15.249686851991095, 32.47085902583735, 32.722847576651176, 32.75757049312864, 33.02547364573559, 33.83312373764047, 35.291566916448375, 37.4374028222453, 40.29402000412597, 43.81738114475763, 47.85651350497236, 52.16465872789583, 56.448367384904074, 60.42690079930611, 63.877914403814444, 66.65903693153251, 68.70775114191747],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [6.2917795358879705, 6.565568682248248, 7.006249246732616, 7.381844380263201, 7.522223437689446, 7.549165294152656, 7.553114787397767, 7.553718388756542, 7.553881889145082, 7.554762967651397, 7.565809148759527, 7.6834628917190635, 8.679836916326847, 14.919444014011901, 33.19731290815525, 37.76016129956257, 38.051930057177245, 38.07691017931413, 38.082275689083886, 38.08835851723888, 38.10662953072091, 38.20590385456285, 38.929442262085715, 43.48590064188443, 55.72006604078939, 64.0795275462761, 66.81756601098941, 67.82959723386843, 68.44408326957956, 68.99261463474487],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 9.497898870246738, 14.641954268791356, 33.43638731215485, 33.448629554491724, 33.448646384819796, 33.448646516013945, 33.44864664810393, 33.44864690716617, 33.44864783160992, 33.448655299667124, 33.44970639221841, 33.78816434589667, 66.91546386758635, 67.03389021736676, 67.03389021736677, 67.03389021736677, 67.03389021736677, 67.03389021736677],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-3.448677633682374, -3.01630943079336, -3.0159293256710384, -2.9627812629570673, 1.809234328623221, 13.732563039241969, 14.357345149751882, 14.37161013606254, 14.372033952610415, 14.372054902467557, 14.372211173991714, 14.377823903008569, 14.551857639781396, 18.14927192813475, 30.479672879311497, 33.42464808490292, 33.65372451886622, 33.73704472438586, 33.92909670736465, 34.413037811392215, 35.50791933052493, 37.667562194403075, 41.26056680786547, 46.15352429256531, 51.58871627081302, 56.68470763264985, 60.94559620479515, 64.28714849815698, 66.83262151018042, 68.7570291023424],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.7378917058771517, -1.301126272829027, -0.4908541609133348, 0.6718737697383883, 5.718556365960472, 11.425441424902683, 12.626432427787801, 12.76790852124579, 12.785850092188415, 12.791558815947239, 12.813101538057605, 12.976373310562181, 14.107091819173277, 19.225696057137093, 27.442286802029706, 31.33241140909896, 32.46967705302461, 33.10977485841744, 33.96845343151215, 35.349918632617936, 37.44092161867055, 40.30530891122061, 43.84690541997263, 47.832866805242745, 51.977462665137864, 56.029143948087345, 59.81520033577866, 63.24300852812491, 66.28022595125319, 68.93246745093052],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [29.166666703311094, 29.166666703481646, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165, 29.16666670348165],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    