
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 10, 0, 0, 2, 8, 0, 3, 2, 0, 0, 6, 7, 0, 0, 3, 9, 0, 0, 0, 0, 2, 1, 3, 2, 0],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.7910052910052916, 2.741554741554742, 2.6921041921041926, 2.642653642653643, 2.5932030932030936, 2.543752543752544, 2.4943019943019946, 2.4448514448514453, 2.3954008954008956, 2.3459503459503463, 2.2964997964997966, 2.2470492470492474, 2.197598697598698, 2.1481481481481484, 2.098697598697599, 2.0492470492470494, 1.9997964997965, 1.9503459503459506, 1.900895400895401, 1.8514448514448516, 1.801994301994302, 1.7525437525437526, 1.7030932030932033, 1.6536426536426538, 1.6041921041921043, 1.5547415547415548, 1.5052910052910053],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.10032426628381763, 0.09997296592125693, 1.2096811177648257, 0.10038020629692379, 0.09981986730875858, 1.9000622253192314, 1.9085352747593654, 0.6841064456508237, 1.9066842413540837, 1.8999729702096608, 0.09983905835223261, 0.09970408091648275, 1.9195521374245184, 1.9205417015209532, 0.10001549814466304, 0.09997134515663009, 1.9186349414479238, 1.8902362318306838, 0.17302410629355347, 0.1001191336041094, 0.09971899412012629, 0.14478805906062991, 1.3555784162756375, 1.1001280404603297, 2.0777639310164338, 1.8999713473346114, 0.29775416045471037],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.7910065567183917, 2.7415553528232164, 2.6921041489280397, 2.6426529450328626, 2.593201741137687, 2.54375053724251, 2.4942993333473336, 2.4448481294521582, 2.3953969255569816, 2.345945721661804, 2.296494517766629, 2.2470433138714534, 2.197592109976274, 2.1481409060811014, 2.098689702185922, 2.049238498290748, 1.9997872943955723, 1.950336090500398, 1.9008848866052213, 1.8514336827100455, 1.801982478814868, 1.7525312749196886, 1.7030800710245142, 1.653628867129338, 1.6041776632341607, 1.5547264593389818, 1.5052752554438065],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.791017675074206, 2.7415659218865924, 2.6921141686989793, 2.6426624155113667, 2.5932106623237527, 2.5437589091361392, 2.4943071559485253, 2.444855402760913, 2.395403649573298, 2.3459518963856842, 2.296500143198073, 2.247048390010459, 2.197596636822847, 2.14814488363523, 2.098693130447619, 2.0492413772600058, 1.9997896240723925, 1.9503378708847825, 1.9008861176971619, 1.8514343645095501, 1.8019826113219357, 1.7525308581343242, 1.7030791049467124, 1.653627351759099, 1.6041755985714852, 1.5547238453838734, 1.5052720921962592],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.791003916628606, 2.74155329028535, 2.6921026639420944, 2.6426520375988387, 2.593201411255583, 2.5437507849123273, 2.4943001585690716, 2.4448495322258164, 2.39539890588256, 2.345948279539305, 2.2964976531960497, 2.247047026852794, 2.1975964005095383, 2.1481457741662826, 2.0986951478230274, 2.0492445214797717, 1.9997938951365162, 1.9503432687932603, 1.900892642450005, 1.8514420161067493, 1.8019913897634936, 1.752540763420238, 1.7030901370769826, 1.6536395107337265, 1.6041888843904708, 1.5547382580472155, 1.5052876317039598],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.550129004146001, 2.550129004146001, 2.550129004146001, 2.550129004146001, 2.550129004146008, 2.550129004146818, 2.5501290041978137, 2.5501290068810576, 2.5501285167707834, 2.547747420332925, -0.021866049504023266, 0.0004972847589215235, 6.368023987734418, 6.423995738380114, -0.5954977380029334, 0.4689834770630519, 2.874625992768358, 8.995590874785599, -0.005404221419773592, -0.4007212100160551, 0.4569824595980805, 0.9243334932235001, 1.1863331978783087, 1.339174601111548, 1.4320794935879952, 1.490804995055715, 1.529296515492053],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-1.370540990447795, -0.18663268038395664, 9.74307828499352, -1.0058295710981726, 0.2521229546508401, 3.3699922894920267, 3.929274867542283, 3.198924314872313, 2.681176104189108, 2.4742174078946757, 2.4499665052046424, 2.5060863288501665, 2.57610467918815, 2.619004614599147, 2.612797541679681, 2.5507069081590217, 2.4377386591044967, 2.2867114266705784, 2.1139079650931016, 1.9351377124577613, 1.7630219676947636, 1.605838613569139, 1.4676853972922803, 1.3494002669555112, 1.2496917234535108, 1.1661325838363457, 1.0958820265453681],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.023477666783494777, 0.023477668509734338, 9.990532588805738, 2.3453297377139197, 2.342091392669498, 2.339054975339561, 2.335174855309371, 2.3302185291949993, 2.32389118429716, 2.315819590289733, 2.3055327310530305, 2.292438612057694, 2.2757971340258867, 2.2546894441944634, 2.227985129139483, 2.1943102353085795, 2.1520217096642273, 2.0991978069957202, 2.0336596180836506, 1.9530461103469638, 1.8549730266016362, 1.7373118706428596, 1.598622954635275, 1.438755460653407, 1.2595731176033107, 1.0656643821239218, 0.8647589358293937],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-1.133317617925342, 0.03306208928460208, 9.784127417292057, 0.08553718867981353, -0.47205375105458547, 2.9257653083440207, 5.716986415164152, 3.3227870708113283, 0.9615134768504952, 0.6113831660518763, 1.4398817326082582, 2.5039167983087314, 3.2691262832986325, 3.598769943016052, 3.5547368160526567, 3.2525843681131956, 2.807932846355296, 2.3194101285261404, 1.8611293533442907, 1.4808527088860224, 1.203464499546893, 1.0372854169921482, 0.9803760132025854, 1.0252796310024976, 1.1619711092757843, 1.379424003138329, 1.6663269103379488],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.10831164250162573, 0.0031257708967249442, 9.897421485456222, -0.38452160254043655, 0.1903227719260734, 2.999786332475228, 7.5684291960592684, 1.3502410066162636, 0.9433244358404949, 1.3634530317526234, 1.8580045881282743, 2.412334477116838, 2.9637774863630053, 3.4103535433876466, 3.6512125758234077, 3.6116847390151428, 3.266577056824966, 2.672220417153083, 1.9850398392587643, 1.4073950743745414, 1.0600171040160404, 0.9212806622924301, 0.9078605068228054, 0.9681833730746217, 1.0970772078574793, 1.303917003074563, 1.5781695293018974],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.7272268608055181, 0.7272268608055181, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250538329128537, 3.1250517837580802, 0.7272516405052303, 0.7272268617162778, 0.7272268608438517, 0.727226860818126, 0.7272268608134298, 0.7272268608118801, 0.7272268608112327, 0.7272268608109331, 0.7272268608107872],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    