
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-07', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 0, 0, 0, 25, 25, 0, 50, 25, 0, 0, 0, 15, 35, 50, 0, 50, 25, 42, 33, 50, 50, 0, 88, 62, 50, 70, 60, 70],
          line: {color: '#17BECF'}
        } 

        
    var data = [trace1];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    