
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 7, 44, 13, 16, 32, 30, 34, 5, 61, 22, 26, 61, 0, 40, 55, 17, 60, 13, 19, 19, 43, 30, 21, 10, 69, 34],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [17.64039408866995, 18.39983579638752, 19.159277504105088, 19.91871921182266, 20.67816091954023, 21.4376026272578, 22.197044334975367, 22.956486042692937, 23.715927750410508, 24.47536945812808, 25.23481116584565, 25.99425287356322, 26.753694581280786, 27.513136288998357, 28.272577996715924, 29.032019704433495, 29.791461412151065, 30.550903119868636, 31.310344827586206, 32.06978653530378, 32.82922824302135, 33.58866995073892, 34.34811165845649, 35.10755336617406, 35.86699507389163, 36.62643678160919, 37.385878489326764, 38.145320197044335],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [22.24604854178941, 21.91455355881504, 22.59536574956207, 23.859730277023274, 22.632120324580676, 22.66875137730168, 24.632120324566788, 25.33124792915998, 24.668504782791633, 23.368126026517846, 23.93323953963732, 23.367879432035572, 24.63212054966491, 24.632366919160162, 23.404263890149316, 24.632366919132387, 24.632120324566788, 23.36763238735705, 23.896361442279453, 22.595736091467842, 21.932992720029148, 22.63212009955199, 24.595242452279273, 24.595489046830984, 22.66875148982297, 22.668874899627056, 24.6139282080312, 24.981560829622246],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [17.640323137470602, 18.399768069406704, 19.159213001342806, 19.91865793327891, 20.67810286521501, 21.437547797151115, 22.196992729087206, 22.956437661023312, 23.715882592959417, 24.475327524895516, 25.23477245683162, 25.994217388767712, 26.753662320703818, 27.513107252639927, 28.27255218457603, 29.03199711651212, 29.791442048448214, 30.55088698038432, 31.310331912320425, 32.069776844256516, 32.82922177619261, 33.58866670812872, 34.34811164006483, 35.107556572000924, 35.867001503937026, 36.62644643587312, 37.385891367809236, 38.145336299745324],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [17.64039274832792, 18.399834866981905, 19.159276985635884, 19.918719104289867, 20.678161222943846, 21.43760334159783, 22.19704546025181, 22.956487578905794, 23.715929697559776, 24.475371816213755, 25.234813934867738, 25.994256053521717, 26.753698172175703, 27.51314029082968, 28.27258240948366, 29.03202452813764, 29.791466646791626, 30.550908765445605, 31.310350884099588, 32.06979300275357, 32.82923512140756, 33.588677240061536, 34.348119358715515, 35.1075614773695, 35.86700359602348, 36.62644571467746, 37.38588783333144, 38.14532995198543],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [17.64023909113079, 18.399688486442077, 19.159137881753363, 19.918587277064653, 20.67803667237594, 21.43748606768722, 22.196935462998507, 22.956384858309793, 23.71583425362108, 24.47528364893237, 25.23473304424365, 25.994182439554933, 26.753631834866223, 27.51308123017751, 28.272530625488795, 29.031980020800074, 29.791429416111367, 30.550878811422653, 31.310328206733935, 32.06977760204522, 32.82922699735651, 33.58867639266779, 34.348125787979086, 35.107575183290365, 35.86702457860166, 36.62647397391294, 37.38592336922423, 38.14537276453551],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-1.3464265136357993, -1.3463825553841575, 11.03017012245885, 43.497729063874665, 9.794453956188148, 15.776731440626495, 23.732292243600693, 24.71369088681635, 24.733093364146328, 24.890727994416373, 35.402927557538646, 36.04160550932269, 36.04268710775106, 35.995477894600235, 35.83355839472746, 35.33860905220349, 34.144936030776776, 32.238857344813546, 30.373355106068434, 29.190716660161694, 28.723493608179712, 28.79712881881615, 29.266733872232255, 30.014258047806866, 30.912224456127287, 31.82742673041516, 32.654336073491386, 33.33860467187991],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.34693337958125026, 0.34693337958125026, 6.680453696645341, 44.002774953950556, 12.943717435654996, 15.866557226743584, 29.634365624434334, 29.65926969816815, 29.66000526692392, 29.660100318661, 29.660119443973088, 29.660124679237406, 29.660127898360084, 29.660132425238118, 29.66014042967474, 29.66015489549401, 29.660180524147414, 29.660223774694256, 29.660289628527273, 29.660368959190603, 29.660413828828187, 29.660342877628974, 29.660166811586897, 29.660045596526146, 29.660201276286863, 30.022532910652078, 53.415567366982714, 53.903451198594134],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.19670347136176117, 0.1967034713595709, 7.403150315414606, 43.15689839981903, 15.565920203592482, 15.293874717382424, 32.55081990435231, 32.903143491338476, 24.34805421211123, 26.76492958085802, 32.424334546288605, 34.886739277130935, 35.07151479179089, 34.437814064175186, 33.67733531909389, 33.03052240015902, 32.544845993635434, 32.201114955033624, 31.965294497178196, 31.80625936869167, 31.700043065555857, 31.629496463391735, 31.58279046965513, 31.55192498199015, 31.53154873433582, 31.51810466341204, 31.509236866769726, 31.50338824010398],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.651439286918932, 0.9191084749365332, 7.263186688640467, 24.047458728359338, 24.047460904976923, 24.04747203301737, 24.04760136824926, 24.051007159479582, 24.182211586868412, 27.012957895017053, 35.46279723366984, 38.723753577602714, 39.57015852663547, 39.853535299304376, 39.696533018842246, 38.89680134234018, 37.07877315615275, 34.12818654539367, 31.023170457806934, 28.899354279453007, 27.880561408835447, 27.675963054690385, 28.131299689391483, 29.290162872186528, 31.311395839434226, 34.31951295925734, 38.2102510039921, 42.54544041769232],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.0800628888756503, -0.14506158971345862, 6.825472139384811, 43.94951723358047, 21.08656494571263, 21.086570469153397, 21.086456019686985, 21.086455399638936, 21.08645495044826, 21.0864148017609, 58.4681836820921, 32.92112789227669, 32.841341596071125, 32.61498309596667, 32.079101084820586, 31.908338699714456, 31.877139560925883, 31.871949057286223, 31.871095068749987, 31.87095415824856, 31.870930775386668, 31.870926869233173, 31.870926211866312, 31.870926100346097, 31.87092608126334, 31.870926077968114, 31.87092607739367, 31.870926077292545],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2016-07', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.04531534043155716, -0.04531534043155716, 6.99828507433395, 44.05121164323227, 12.978556272428662, 16.168791336873916, 30.071034234450202, 30.810400093118297, 30.83537262193668, 30.836126883322237, 30.836158735404045, 30.83622753223183, 30.836398960112398, 30.83676413263453, 30.837505913307098, 30.83898939254836, 30.841940471009263, 30.847800407581893, 30.859429728803086, 30.882506464369687, 30.928307024872765, 31.01925082302242, 31.200009311363562, 31.559968652128358, 32.279395915972046, 33.72677416153341, 36.66968786703604, 42.72042952086274],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    