
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 0, 0, 0, 0, 0, 7, 9, 8, 19, 0, 15, 10, 0, 15, 9, 8, 8, 25, 0, 0, 40, 12, 14, 18, 13, 15],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.07635467980295485, 0.5774493705528196, 1.2312534209085941, 1.8850574712643686, 2.5388615216201433, 3.1926655719759176, 3.846469622331692, 4.500273672687467, 5.154077723043241, 5.807881773399016, 6.46168582375479, 7.1154898741105645, 7.769293924466339, 8.423097974822113, 9.076902025177889, 9.730706075533663, 10.384510125889436, 11.038314176245212, 11.692118226600986, 12.345922276956761, 12.999726327312535, 13.653530377668309, 14.307334428024085, 14.961138478379858, 15.614942528735634, 16.268746579091406, 16.92255062944718, 17.576354679802954],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [6.5655831918323155, 6.197703750660874, 6.179388111774586, 6.17926472182356, 6.179286558257147, 6.182738517465808, 6.280768252820073, 7.09961879969609, 8.444552933806158, 8.099618781519885, 8.416635351393127, 7.695817791920135, 8.951956938441521, 8.952101457502014, 7.717174602444889, 8.82914446565519, 8.900448375549477, 8.099837635943587, 8.100476368984042, 8.492922452135144, 6.966741870402008, 6.988632374945373, 8.952148704321493, 9.687660901656152, 9.724291841844709, 9.72441525162102, 9.706099837802634, 9.338220396658969],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.07635125221172379, 0.5774525492883867, 1.2312563507884962, 1.8850601522886068, 2.5388639537887174, 3.1926677552888285, 3.846471556788938, 4.5002753582890485, 5.154079159789158, 5.807882961289269, 6.461686762789378, 7.115490564289489, 7.769294365789601, 8.423098167289714, 9.076901968789821, 9.730705770289928, 10.384509571790044, 11.03831337329015, 11.69211717479026, 12.345920976290376, 12.999724777790485, 13.653528579290592, 14.307332380790701, 14.961136182290813, 15.614939983790922, 16.268743785291026, 16.92254758679114, 17.576351388291247],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.07635402518293966, 0.5774499035112961, 1.2312538322055324, 1.8850577608997687, 2.5388616895940044, 3.19266561828824, 3.846469546982477, 4.500273475676713, 5.15407740437095, 5.807881333065185, 6.461685261759422, 7.115489190453658, 7.769293119147892, 8.42309704784213, 9.076900976536365, 9.7307049052306, 10.384508833924837, 11.038312762619071, 11.692116691313313, 12.345920620007547, 12.999724548701781, 13.653528477396016, 14.30733240609025, 14.961136334784491, 15.614940263478722, 16.268744192172953, 16.922548120867198, 17.576352049561432],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.07630872683729906, 0.5774927794318375, 1.231294285700974, 1.8850957919701106, 2.538897298239247, 3.1926988045083835, 3.846500310777519, 4.500301817046656, 5.154103323315794, 5.8079048295849285, 6.461706335854066, 7.115507842123203, 7.769309348392339, 8.423110854661475, 9.07691236093061, 9.730713867199748, 10.384515373468885, 11.038316879738021, 11.692118386007158, 12.345919892276294, 12.999721398545429, 13.653522904814567, 14.307324411083703, 14.96112591735284, 15.614927423621978, 16.26872892989111, 16.92253043616025, 17.576331942429384],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.022666810991084266, -0.02254090271629479, -0.02265845675665858, -0.022896160965283817, -0.023152432834403807, -0.02048530383884984, 0.2417475292873838, 8.357995624276038, 10.780387220042217, 10.793539495959498, 10.695254630742873, 8.944518800331593, 8.254311728578935, 8.237085040258416, 8.230754557642134, 8.220912565508863, 8.205395483365214, 8.181737239988987, 8.147633285745282, 8.102133265076645, 8.047119998172535, 8.468640464996732, 18.399884011578955, 18.694158350974444, 18.64557239788835, 18.603283011793554, 18.56839384260424, 18.539959927773907],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.24457041811767208, 0.2362457361328612, 0.13878206850066552, 0.43003772313045263, 0.5515965048151874, -0.6629365591888317, 0.0610741144737825, 6.899343717875442, 8.539541881373243, 10.545239558229456, 11.021863015144616, 10.329560126220423, 9.406120132680675, 8.63023059304444, 8.147167999670136, 8.043069201282751, 8.383436077920042, 9.188921886237557, 10.389445655904305, 11.80737184388129, 13.209322442715695, 14.399999311150571, 15.283655175686611, 15.859327859124704, 16.179299521238747, 16.310201598488796, 16.31173013969082, 16.229778915866838],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.0020547240658649324, -0.0020547240658649324, -0.002054724065864354, -0.0020547240658643894, -0.0020547240658644146, -0.0020547240658644306, -0.0020547240658631127, 6.6580728961646605, 8.781930159858312, 8.864814295301711, 9.00540132652348, 9.197756209311258, 9.43662725522945, 9.717815969047514, 10.037930316182555, 10.394198491526533, 10.784327413732091, 11.20639428699964, 11.658762734917103, 12.140017312049952, 12.648911869656223, 13.184328464542837, 13.74524438099492, 14.33070547653576, 14.939804529124153, 15.571663603914704, 16.22541970622592, 16.90021316868109],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.8413862133915195, -0.28865429041431145, -0.2913185128678655, -0.2913693006633111, -0.2913633953762407, -0.29119623792653027, -0.16911136968262896, 7.4715085821072424, 10.08941188575071, 10.795168284756661, 11.747110200226102, 9.795757858743462, 8.614483001454701, 8.375600387842123, 8.333573498213815, 8.325704133887724, 8.324146732958123, 8.32435288675251, 8.330931345187908, 8.400995732391365, 9.01272506633593, 12.268860167888562, 17.34605910047302, 19.26664327771863, 19.643367648997287, 19.713557165728528, 19.728002245991885, 19.731357937224395],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.8995150617046939, -0.22240500974923316, 0.7131192491730403, 0.4032885130944954, -0.2879654276621486, -0.8586921770661258, -0.14024097737557017, 6.944930415309145, 9.753027137870648, 9.989501036107828, 9.782539935556763, 9.548639977958587, 9.364149289448209, 9.251869397084555, 9.229760033088528, 9.325179756575173, 9.581739660032943, 10.053872635169187, 10.776119878824414, 11.712343746208449, 12.737603321449484, 13.699505239021212, 14.502762177143365, 15.130981885077649, 15.613694360330213, 15.9908616683993, 16.295893098303203, 16.552098619115657],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2017-05', '2017-06', '2017-07', '2017-08', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.39247517083725825, -0.3924751708372298, -0.3924751708359224, -0.3924751526659236, -0.39247030885150025, -0.38982402905514846, 0.37233956957524583, 6.339160074168262, 10.062971706672073, 10.137042783216828, 9.58451851685146, 9.2463203397335, 9.184047085204469, 9.329487691407849, 9.616716291632287, 9.99893606891979, 10.445292026145069, 10.935937489083017, 11.458264195213758, 12.004362037713008, 12.569371848552208, 13.150432952209087, 13.746015910861189, 14.355502077859995, 14.978920541697505, 15.616785224861331, 16.269995711196884, 16.939778734694528],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    