
     <head>
    	<!-- Load plotly.js into the DOM -->
    	<script src='../plotly-latest.min.js'></script>
    </head>
    <body>
    
    <div id="myDiv"> </div>
    </body>
    <script>
    
      
        var trace1= {
        type: "scatter",
        mode: "lines",
          name: 'real',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0, 0, 3, 11, 6, 20, 2, 18, 20, 0, 3, 17, 12, 8, 20, 20, 3, 31, 26, 10, 17, 22, 21],
          line: {color: '#17BECF'}
        } 

          
        var trace2= {
        type: "scatter",
        mode: "lines",
          name: 'lineare',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [3.7717391304347827, 4.575098814229249, 5.378458498023715, 6.181818181818182, 6.985177865612648, 7.788537549407114, 8.59189723320158, 9.395256916996047, 10.198616600790514, 11.00197628458498, 11.805335968379445, 12.608695652173912, 13.412055335968379, 14.215415019762844, 15.01877470355731, 15.822134387351777, 16.625494071146242, 17.42885375494071, 18.232213438735176, 19.035573122529645, 19.83893280632411, 20.642292490118574, 21.445652173913043],
          line: {color: '#C2185B'}
        } 

          
        var trace3= {
        type: "scatter",
        mode: "lines",
          name: 'SVR',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [11.0817296166029, 10.720545191785687, 10.831116606831356, 11.100000018294825, 11.566752191877553, 12.738983902859097, 12.203560056652812, 13.46775602562061, 13.431618191694128, 11.504465256653976, 11.479578236285448, 12.928358463701974, 12.1, 11.73688603736865, 13.443193778060603, 13.468080798484682, 12.240146215496393, 13.468249623451474, 13.468249848499157, 12.240393076503938, 13.50475737889479, 14.185569569614048, 13.854074586639674],
          line: {color: '#1A237E'}
        } 

          
        var trace4= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_1',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [3.7717391455848093, 4.575098805228218, 5.378458464871628, 6.181818124515036, 6.985177784158445, 7.788537443801854, 8.59189710344526, 9.395256763088671, 10.19861642273208, 11.001976082375487, 11.805335742018896, 12.608695401662306, 13.412055061305713, 14.215414720949124, 15.018774380592534, 15.822134040235943, 16.62549369987935, 17.42885335952276, 18.232213019166164, 19.035572678809576, 19.838932338452985, 20.64229199809639, 21.445651657739802],
          line: {color: '#651fff'}
        } 

          
        var trace5= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_2',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [3.7717369002585204, 4.575096082080895, 5.378455263903272, 6.181814445725648, 6.985173627548025, 7.788532809370402, 8.591891991192778, 9.395251173015156, 10.19861035483753, 11.001969536659907, 11.805328718482281, 12.60868790030466, 13.412047082127035, 14.215406263949413, 15.01876544577179, 15.822124627594166, 16.62548380941654, 17.428842991238916, 18.23220217306129, 19.03556135488367, 19.838920536706045, 20.64227971852842, 21.445638900350797],
          line: {color: '#d50000'}
        } 

          
        var trace6= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_3',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [3.7717388691206986, 4.575098548614519, 5.378458228108339, 6.1818179076021575, 6.9851775870959765, 7.788537266589796, 8.591896946083615, 9.395256625577437, 10.198616305071255, 11.001975984565073, 11.805335664058894, 12.608695343552712, 13.412055023046534, 14.215414702540352, 15.01877438203417, 15.822134061527992, 16.62549374102181, 17.42885342051563, 18.232213100009446, 19.035572779503266, 19.83893245899709, 20.64229213849091, 21.44565181798473],
          line: {color: '#00c853'}
        } 

          
        var trace7= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_4',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [2.0406875981089048, 2.4737233031068895, 5.56302099230074, 9.456956409641666, 10.988100963040026, 11.2089062134121, 11.025216168710358, 10.842779481647659, 10.818237872594048, 10.998666088555927, 11.385867474107735, 11.962389534663682, 12.700214203252605, 13.56337382713542, 14.509934896137413, 15.495336865481345, 16.47693616188965, 17.418497405148457, 18.293285490851943, 19.085075364291885, 19.787250193718556, 20.400708968238174, 20.931398989224416],
          line: {color: '#ffff00'}
        } 

          
        var trace8= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_5',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-4.650649425004136, -0.12207054544465556, 2.7819295964238737, 10.381014948108968, 8.671940597712046, 14.647847517333274, 14.648087302984573, 14.648082775691043, 14.57399160847933, 0.05855972172567725, 2.778175461589681, 18.392117720631994, 10.206869954397929, 9.7305143822741, 17.713943994771093, 17.26613250739691, 16.90036638324535, 17.4200695451363, 18.225652651106387, 18.986679463715156, 19.635894519719805, 20.198364147219607, 20.71112884205121],
          line: {color: '#dd2c00'}
        } 

          
        var trace9= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_6',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [0.24531751223823564, 0.35229040882305646, 2.6237461743449835, 9.286749163754296, 11.956945041843651, 11.65316720274927, 10.89855725456626, 10.42710739872346, 10.331141836814718, 10.56148068854681, 11.05306402121046, 11.74690869587356, 12.59025502791368, 13.534555239947126, 14.534935803941078, 15.550977178279112, 16.547951297836413, 17.49779399013327, 18.379443917944123, 19.178510292867188, 19.886437677946166, 20.49940709989713, 21.017188638011646],
          line: {color: '#212121'}
        } 

          
        var trace10= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_7',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-2.420903160392186, -2.420903940361189, 3.282407767758661, 11.180233262539138, 11.180233334708944, 11.180309673814694, 11.242102518400682, 17.2937486652458, 19.70633316372281, -0.11753827832365182, 4.041777609021674, 12.273104152822743, 13.904822013234286, 14.643750324189053, 15.475632584611372, 16.44831081783399, 17.375010682383, 18.104387100935597, 18.6064899717909, 18.93011868144518, 19.138097552981023, 19.277255072711554, 19.376108779457137],
          line: {color: '#000000'}
        } 

          
        var trace11= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_8',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-0.11355184424641607, -1.084823089508042, 2.647475403545007, 11.159066191918852, 8.337065363062024, 10.187810402887784, 11.89626399543777, 15.574144261302727, 22.244850095909413, 0.5295670548582443, 3.2517887162748824, 14.92368574418222, 12.893343225405047, 12.998807255938008, 14.598821059663727, 16.42015625079993, 17.85933298784847, 18.820310819325506, 19.399981824884065, 19.72570369522066, 19.90156438918881, 20.00036583490337, 20.069349243177868],
          line: {color: '#ef9a9a'}
        } 

          
        var trace12= {
        type: "scatter",
        mode: "lines",
          name: 'MLP_9',
          x: ['2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09'],
          y: [-1.2647157073781017, -0.5759642374051985, 2.4729203436655247, 8.295703681206145, 12.162270578278372, 12.694586692834207, 11.8073310307695, 10.800403315165099, 10.148354202197662, 9.96182188566476, 10.233615368353956, 10.919632596599332, 11.952034949765306, 13.23505715986236, 14.647122688570105, 16.05687541982561, 17.34723126540848, 18.435131256801746, 19.278804880010128, 19.873074482659316, 20.23845537515255, 20.409659701666858, 20.426513193277216],
          line: {color: '#ce93d8'}
        } 

        
    var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12];
    
    var layout = {
    };
    Plotly.newPlot('myDiv', data, layout);
    </script>
    
    